In [2]:
# Import necessary libraries
import pandas as pd

# Load the dataset
df = pd.read_csv('Dataset_retail_sales_uncleaned.csv')

In [3]:
# Part 1: Checking for missing customer names

missing_customer_names = df[df['Customer_Name'].isnull() | (df['Customer_Name'] == '')]
print(f"Missing customer names:\n{missing_customer_names}")

Missing customer names:
     Order_ID Customer_Name   State       City        Product  Quantity  \
0         NaN           NaN  Calif#       vlhG    nxJlrLVa123      -9.0
1     55834.0           NaN     NaN        xIk          iWCYv       NaN
6         NaN           NaN  Calif#    mOLPl!!   krQcsBBTL          0.0
9     93428.0           NaN  Calif#    yUudpqw       wxwoP123       NaN
13        NaN           NaN     NaN     HWPMrs     JWWeNooCOi       NaN
..        ...           ...     ...        ...            ...       ...
982       NaN           NaN  Calif#       soNo      DCZaIhwUp       NaN
991   -9744.0           NaN      mz  qesubyCr@  yNSYvZltFY          8.0
995    -761.0           NaN      IL   WDrnCbXJ       pOBUv123       0.0
997       NaN           NaN     NaN  USLnPoyD@     FPjbBxZFRI      50.0
999       NaN           NaN  Calif#   TdAfQV!!      dgbeFb          0.0

            Price Total_Sales Purchase_Date Payment_Method Shipping_Cost  \
0               0           0     9/17/2021            NaN          5.14
1               0           0           NaN        Checque         Free$
6          589.89        -100      3/9/2021          Debit         Extra
9               0       Error      7/7/2023          Debit        38.769
13   Not a number         NaN     5/13/2021          Debit           NaN
..            ...         ...           ...            ...           ...
982        956.06         152      1/3/2021           Cash           NaN
991             0         165     8/24/2012          Debit           NaN
995  Not a number         475     9/10/2017          Debit         Free$
997             0           0     7/22/2010           Cash           NaN
999        690.17         NaN     2/17/2012          Debit           NaN

    Discount    Tax    Sales_Rep Order_Status Customer_ID        Country  \
0    Invalid     -5     QlCNs123     Unknown!      XvqFZW           U.S.
1      25.11   High   jkATAyk123     Returned    NotValid  United States
6    Invalid   High  WwAguYBR123     Returned      fRFzDU           U.S.
9    Invalid     -5    tUUSme123    Cancelled         ZmV  United States
13   Invalid   14.9    TOBqUldx@     Returned    NotValid  United States
..       ...    ...          ...          ...         ...            ...
982  Invalid  16.97     eABmoRE@    Completed      123456            123
991  Invalid   High       iMfXH#     Returned         Vmp            NaN
995    -2.73   High   PQmSgCA123      Pending      GEvdQk            123
997    -7.74   High       okkRH#      Pending      XBsfGP  United States
999    36.99   High     TblbUhh#    Cancelled    NotValid            NaN

    Phone_Number           Email  Delivery_Time
0            NaN             NaN  Not available
1            NaN         noemail             39
6            NaN         noemail        Missing
9            NaN  eLsUdt@hotmail        Missing
13    Invalid123             NaN             87
..           ...             ...            ...
982     12345678  MKzbZdLp@yahoo        Missing
991   6660349446             NaN        Missing
995   8988717670         noemail             77
997   Invalid123       czFWSGlaC             41
999     12345678         noemail  Not available

[207 rows x 20 columns]

In [4]:
# Part 2: Checking for inconsistent state abbreviations

invalid_states = df[~df['State'].str.match(r'^[A-Z]{2}$', na=False)]
print(f"Inconsistent state abbreviations:\n{invalid_states}")

Inconsistent state abbreviations:
     Order_ID         Customer_Name   State       City      Product  Quantity  \
0         NaN                   NaN  Calif#       vlhG  nxJlrLVa123      -9.0
1     55834.0                   NaN     NaN        xIk        iWCYv       NaN
2         NaN                 quckz  Calif#    BqRoG!!    iLqNmM123      -9.0
3         NaN              John#Doe      Zz    JUqSAP@  oLUIHFfA         38.0
4     -2033.0               123John      jU      mppXi   EYBoNPS123       NaN
..        ...                   ...     ...        ...          ...       ...
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@  RvhhGDuZ123       NaN
996       NaN            XihedmGYce  Calif#    FLwgP!!  JRlSMuTy123       0.0
997       NaN                   NaN     NaN  USLnPoyD@   FPjbBxZFRI      50.0
998   -3723.0              John#Doe     NaN    kKVbQk@      LjMWnUN       NaN
999       NaN                   NaN  Calif#   TdAfQV!!    dgbeFb          0.0

      Price Total_Sales Purchase_Date  Payment_Method Shipping_Cost Discount  \
0         0           0     9/17/2021             NaN          5.14  Invalid
1         0           0           NaN         Checque         Free$    25.11
2     350.2   Incorrect     6/23/2023            Cash         Free$      NaN
3    345.58         NaN     1/28/2021  Credit Payment         Extra    18.74
4         0        -100    11/22/2022  Credit Payment         Extra    13.07
..      ...         ...           ...             ...           ...      ...
994  790.43         358           NaN             NaN           NaN      NaN
996       0   Incorrect     9/12/2021           Debit         Extra  Invalid
997       0           0     7/22/2010            Cash           NaN    -7.74
998  296.36         NaN     3/25/2020         Checque         Free$  Invalid
999  690.17         NaN     2/17/2012           Debit           NaN    36.99

       Tax   Sales_Rep Order_Status Customer_ID        Country Phone_Number  \
0       -5    QlCNs123     Unknown!      XvqFZW           U.S.          NaN
1     High  jkATAyk123     Returned    NotValid  United States          NaN
2       -5   aGhtJWWn#     Unknown!      KVVDsM           U.S.          NaN
3     High     BprRml@    Cancelled    NotValid  United States     12345678
4     High   YgxXnx123      Pending         Oio            123          NaN
..     ...         ...          ...         ...            ...          ...
994     -5     xYDHTt@          NaN      123456            123          NaN
996  12.84     QQiKoP#     Returned      FAdpMz           U.S.   Invalid123
997   High      okkRH#      Pending      XBsfGP  United States   Invalid123
998   13.8  DbloErg123     Unknown!      123456           U.S.     12345678
999   High    TblbUhh#    Cancelled    NotValid            NaN     12345678

               Email  Delivery_Time
0                NaN  Not available
1            noemail             39
2                NaN  Not available
3    eAOenzoZc@yahoo        Missing
4            noemail  Not available
..               ...            ...
994              NaN        Missing
996          noemail             67
997        czFWSGlaC             41
998         eOAItVcH  Not available
999          noemail  Not available

[716 rows x 20 columns]

In [5]:
# Part 3: Checking for missing state names

missing_states = df[df['State'].isnull() | (df['State'] == '')]
print(f"Missing state names:\n{missing_states}")

Missing state names:
     Order_ID         Customer_Name State       City        Product  Quantity  \
1     55834.0                   NaN   NaN        xIk          iWCYv       NaN
7     14840.0               peYofjf   NaN    hLsTB!!       YVpzv123       0.0
8     -8164.0              John#Doe   NaN    RDoGEGv     MHUjKGc123      14.0
10    81519.0             xMwbJYKQB   NaN        pIl  VgmchppGTF         12.0
13        NaN                   NaN   NaN     HWPMrs     JWWeNooCOi       NaN
..        ...                   ...   ...        ...            ...       ...
990       NaN              fKgtefMz   NaN    lePzRO@      JVfkfKBQA       0.0
992    -564.0               123John   NaN    tuJSws@      vdrBUG          NaN
994       NaN  infjvFHeooDgZewlUxMV   NaN      pmJf@    RvhhGDuZ123       NaN
997       NaN                   NaN   NaN  USLnPoyD@     FPjbBxZFRI      50.0
998   -3723.0              John#Doe   NaN    kKVbQk@        LjMWnUN       NaN

            Price Total_Sales Purchase_Date  Payment_Method Shipping_Cost  \
1               0           0           NaN         Checque         Free$
7               0           0      5/1/2015            Cash         Extra
8    Not a number        -100      6/1/2024           Debit         Free$
10              0           0     7/18/2017         Checque         7.858
13   Not a number         NaN     5/13/2021           Debit           NaN
..            ...         ...           ...             ...           ...
990  Not a number   Incorrect           NaN           Debit           NaN
992  Not a number         NaN      8/1/2017  Credit Payment         Free$
994        790.43         358           NaN             NaN           NaN
997             0           0     7/22/2010            Cash           NaN
998        296.36         NaN     3/25/2020         Checque         Free$

    Discount    Tax    Sales_Rep Order_Status Customer_ID        Country  \
1      25.11   High   jkATAyk123     Returned    NotValid  United States
7        NaN     -5       ZsUms#     Unknown!      nbrzRe            123
8    Invalid  19.59    bSXCWj123     Unknown!         XcA           U.S.
10      4.62     -5    jWTuyV123    Completed      ybFLZZ  United States
13   Invalid   14.9    TOBqUldx@     Returned    NotValid  United States
..       ...    ...          ...          ...         ...            ...
990      NaN   10.2       AScgX#      Pending         fjp  United States
992  Invalid  -0.66  GIvTIwcM123    Completed      AdwmCC            NaN
994      NaN     -5      xYDHTt@          NaN      123456            123
997    -7.74   High       okkRH#      Pending      XBsfGP  United States
998  Invalid   13.8   DbloErg123     Unknown!      123456           U.S.

    Phone_Number              Email  Delivery_Time
1            NaN            noemail             39
7     Invalid123                NaN  Not available
8       12345678            noemail             30
10    Invalid123  ghpVpRv@gmail.com             67
13    Invalid123                NaN             87
..           ...                ...            ...
990     12345678            noemail  Not available
992     12345678            noemail             52
994          NaN                NaN        Missing
997   Invalid123          czFWSGlaC             41
998     12345678           eOAItVcH  Not available

[244 rows x 20 columns]

In [6]:
# Part 4: Checking for missing values in the 'Product' field

missing_product = df[df['Product'].isnull() | (df['Product'] == '')]
print(f"Missing Product values:\n{missing_product}")

Missing Product values:
Empty DataFrame
Columns: [Order_ID, Customer_Name, State, City, Product, Quantity, Price, Total_Sales, Purchase_Date, Payment_Method, Shipping_Cost, Discount, Tax, Sales_Rep, Order_Status, Customer_ID, Country, Phone_Number, Email, Delivery_Time]
Index: []

In [7]:
# Part 5: Checking for special characters in product names

invalid_products = df[~df['Product'].str.match(r'^[A-Za-z\s]+$', na=False)]
print(f"Product names with special characters or numbers:\n{invalid_products}")

Product names with special characters or numbers:
     Order_ID         Customer_Name   State      City      Product  Quantity  \
0         NaN                   NaN  Calif#      vlhG  nxJlrLVa123      -9.0
2         NaN                 quckz  Calif#   BqRoG!!    iLqNmM123      -9.0
4     -2033.0               123John      jU     mppXi   EYBoNPS123       NaN
7     14840.0               peYofjf     NaN   hLsTB!!     YVpzv123       0.0
8     -8164.0              John#Doe     NaN   RDoGEGv   MHUjKGc123      14.0
..        ...                   ...     ...       ...          ...       ...
989       NaN               123John  Calif#    mJOzF@    UuYFKF123      28.0
993       NaN               123John      Cn  XwTSLOpO     KcoDu123      16.0
994       NaN  infjvFHeooDgZewlUxMV     NaN     pmJf@  RvhhGDuZ123       NaN
995    -761.0                   NaN      IL  WDrnCbXJ     pOBUv123       0.0
996       NaN            XihedmGYce  Calif#   FLwgP!!  JRlSMuTy123       0.0

            Price Total_Sales Purchase_Date  Payment_Method Shipping_Cost  \
0               0           0     9/17/2021             NaN          5.14
2           350.2   Incorrect     6/23/2023            Cash         Free$
4               0        -100    11/22/2022  Credit Payment         Extra
7               0           0      5/1/2015            Cash         Extra
8    Not a number        -100      6/1/2024           Debit         Free$
..            ...         ...           ...             ...           ...
989        903.61        -100     3/21/2022  Credit Payment         Free$
993             0         569           NaN  Credit Payment         Free$
994        790.43         358           NaN             NaN           NaN
995  Not a number         475     9/10/2017           Debit         Free$
996             0   Incorrect     9/12/2021           Debit         Extra

    Discount    Tax   Sales_Rep Order_Status Customer_ID        Country  \
0    Invalid     -5    QlCNs123     Unknown!      XvqFZW           U.S.
2        NaN     -5   aGhtJWWn#     Unknown!      KVVDsM           U.S.
4      13.07   High   YgxXnx123      Pending         Oio            123
7        NaN     -5      ZsUms#     Unknown!      nbrzRe            123
8    Invalid  19.59   bSXCWj123     Unknown!         XcA           U.S.
..       ...    ...         ...          ...         ...            ...
989      NaN  15.99     DZJWWP#     Returned         Ggm  United States
993    16.58     -5     XYVenX@      Pending      ngHDRR  United States
994      NaN     -5     xYDHTt@          NaN      123456            123
995    -2.73   High  PQmSgCA123      Pending      GEvdQk            123
996  Invalid  12.84     QQiKoP#     Returned      FAdpMz           U.S.

    Phone_Number    Email  Delivery_Time
0            NaN      NaN  Not available
2            NaN      NaN  Not available
4            NaN  noemail  Not available
7     Invalid123      NaN  Not available
8       12345678  noemail             30
..           ...      ...            ...
989     12345678    dmIdE        Missing
993          NaN  noemail             66
994          NaN      NaN        Missing
995   8988717670  noemail             77
996   Invalid123  noemail             67

[346 rows x 20 columns]

In [8]:
# Part 6: Checking for negative quantities

negative_quantities = df[df['Quantity'] < 0]
print(f"Negative quantities:\n{negative_quantities}")

Negative quantities:
     Order_ID         Customer_Name   State        City        Product  \
0         NaN                   NaN  Calif#        vlhG    nxJlrLVa123
2         NaN                 quckz  Calif#     BqRoG!!      iLqNmM123
14    36373.0                Rmuhfq  Calif#     clJQu!!         nGbypg
23    -9491.0             cJBRmrHRu     NaN    vLTNmNN@  xvzilkuuId
66        NaN                 FOpAl      MA        WGHg       loPQyjgB
73        NaN              John#Doe  Calif#     ezjpyq@        AaOvQCr
83        NaN                 jbUlr      Pl       WWh!!     gpEDwWD
98    39795.0                   NaN  Calif#     AxFVENX       UtsAL
142   88145.0              John#Doe      ED    NozzNyqY      UNOTxwzMR
192   -7046.0                   NaN  Calif#   EfXGOOg!!    YTdOyOqD123
193   69093.0                   NaN      NC   SNgAKaTI@     ynHywkn123
204       NaN             HESfpRmun      PA         PeL       wkxtE
206   35837.0  VLDmKrgTpEKoiifyYyBc     NaN    gqCWhFh@   IJPSlCjVP123
231   60755.0             baYpfduOW      Az       itNYc      QOftWv123
240   34408.0              John#Doe     NaN     vscfDY@    nEAtWuDt
273   36435.0  NOqWlQckXpMHNZyUCgkQ      Qb   ILeMmxdk@      INYbKe123
294       NaN  xQTmjVZSUpMxPhEhnCVu     NaN      KyZE!!  aerWiSqXxO123
315       NaN  zaHkprfaaQhmpsxIMfqK      NY       FVZi@     wpkYyGD123
327       NaN                   NaN     NaN       FhV!!     NiAcJdu123
330   25740.0              John#Doe      aa         RCB       ghXQE
337   62600.0  HHVoKkVsWcskXSCMgADO      CA     vwlRCk@      bfOoJo123
357       NaN              John#Doe      HS       YGFv@       WWZYV
372       NaN               123John     NaN     vGvUwrR   MfFuXrNNm123
386   -8439.0               123John      jr      CQBWM@     ndDoqXV123
415       NaN              John#Doe  Calif#      dzEVS@        OiDlfRX
422   53468.0                   NaN      MI       wavY@  sBFOQLgWmq123
432       NaN              aVNbpSql  Calif#    FwSove!!        WuOzIHj
499   -2337.0                   NaN      dZ        KNva     jnvYiRk123
500       NaN            uGDbTgQiFR      WA    SSStLM!!     iqDTOReCQb
509   29991.0                   NaN     NaN   CJCfTwnb@     LJxTzOx
531   -5201.0               FUCxNXg      bj     wcVmmt@     gFtjttMFAw
570       NaN                   NaN     NaN    sEudRn!!     jwRMVAe
598       NaN              CAqdcXVQ  Calif#        cWx@       VyFKF123
638   -9202.0                   NaN     NaN       YvUl@         rfuwcB
642   -5408.0               123John      KB       GZd!!      gcwuXkvzA
668   -8098.0              John#Doe      QY    lYpNlZB@  FisgcorXyu123
686   92413.0              John#Doe     NaN    OGYJZoKI     bkKnnLmVLy
698   -4136.0               123John      xs  GsaeBgpF!!    ZwDueNGP123
748       NaN               123John  Calif#     ZUhZNq@      qxxpBczVP
753       NaN              John#Doe  Calif#     UYDDD!!  UzQwXsUXIT123
755       NaN               123John  Calif#      DanI!!     GXDkZJF123
812   19925.0            buIKDDxMXd  Calif#      BjCY!!     MnyKEZuwaO
816       NaN  HPhkNQuJmNtPhJQnhedq      ve      QXfhAH    LbgXfuyg
840       NaN              uHwXCMEP  Calif#   qDMtWBzp@   pRpLpBwnH
842   -8997.0  CywORdlBmNpYIbpzjSuv  Calif#   yYLCvcF!!        eFKglzq
853   39185.0  wLTAfyRNcJhCUlCzRSiI  Calif#       eCUYE     jweCNMJ
877   -1076.0  VxPNelsvfpLYkOymDeKo      CA   RaNLpzT!!      GAwEhfgkY
892       NaN            trghLgMnCj  Calif#     poRRBL@  DWsRdOllua
912   99465.0              John#Doe     NaN     NmLFT!!      YMpKcbxHk
926   11542.0  tUVcgABslditjOouNKjC      VA     dOIFw!!        HUOKLnw
942   -5629.0              John#Doe     NaN        uJm@     TJItKbe
945       NaN               123John  Calif#      PkDb!!  JLgaLELvvx123
953       NaN             mwRCLAiYj     NaN     SONKhD@  WkDkFqZMQr123
964       NaN                   NaN  Calif#        qGG@      WFagsf123

     Quantity         Price Total_Sales Purchase_Date  Payment_Method  \
0        -9.0             0           0     9/17/2021             NaN
2        -9.0         350.2   Incorrect     6/23/2023            Cash
14       -9.0  Not a number         NaN     4/27/2024         Checque
23       -4.0  Not a number           0           NaN  Credit Payment
66       -7.0        283.49    -1984.43      6/1/2024            Cash
73       -8.0  Not a number         NaN     5/27/2016         Checque
83       -4.0             0        -100    11/24/2022            Cash
98       -3.0        975.74        -100           NaN             NaN
142      -8.0             0         NaN           NaN            Cash
192      -9.0  Not a number       Error     7/17/2021         Checque
193      -5.0             0         NaN    11/11/2021  Credit Payment
204      -9.0        414.95        -100           NaN  Credit Payment
206     -10.0        372.38   Incorrect           NaN         Checque
231      -1.0             0         NaN           NaN         Checque
240      -3.0             0        -100           NaN             NaN
273      -6.0  Not a number         NaN      2/3/2016  Credit Payment
294      -3.0        408.68         623     2/14/2023         Checque
315      -1.0             0           0     9/15/2020           Debit
327     -10.0             0   Incorrect     7/24/2015  Credit Payment
330      -7.0         653.4         NaN     4/27/2022         Checque
337      -7.0             0         530      6/6/2023           Debit
357      -8.0        243.19    -1945.52           NaN           Debit
372      -2.0        772.95     -1545.9           NaN             NaN
386      -1.0        886.89     -886.89           NaN         Checque
415      -7.0        579.26    -4054.82           NaN            Cash
422      -5.0  Not a number        -100           NaN             NaN
432      -9.0  Not a number       Error    11/10/2011         Checque
499     -10.0             0           0      4/7/2018         Checque
500      -7.0  Not a number         NaN     4/13/2023  Credit Payment
509     -10.0  Not a number         NaN    12/22/2010             NaN
531      -9.0             0           0      4/3/2024            Cash
570      -6.0             0           0      7/2/2019         Checque
598      -7.0             0   Incorrect           NaN            Cash
638     -10.0         546.4   Incorrect     7/27/2021         Checque
642      -2.0        -39.76       79.52      4/3/2018            Cash
668      -5.0  Not a number         457           NaN           Debit
686      -9.0             0           0    12/12/2023            Cash
698     -10.0        996.82   Incorrect      6/5/2017  Credit Payment
748      -5.0  Not a number        -100     3/26/2020            Cash
753      -8.0             0           0     12/5/2018           Debit
755      -2.0  Not a number         NaN           NaN  Credit Payment
812      -7.0             0         NaN     7/24/2020         Checque
816      -6.0             0         NaN      2/7/2021             NaN
840      -1.0        820.01     -820.01     3/19/2021           Debit
842      -3.0             0           0           NaN            Cash
853      -2.0  Not a number         NaN    12/21/2020         Checque
877      -3.0  Not a number   Incorrect     5/17/2013  Credit Payment
892      -7.0             0        -100           NaN           Debit
912      -2.0  Not a number           0    11/18/2022            Cash
926      -6.0         14.65         NaN      7/9/2023         Checque
942      -9.0  Not a number   Incorrect           NaN             NaN
945      -6.0        388.76    -2332.56     8/19/2013         Checque
953      -9.0        797.76   Incorrect      8/8/2020             NaN
964      -2.0             0         160           NaN             NaN

    Shipping_Cost Discount    Tax    Sales_Rep Order_Status Customer_ID  \
0            5.14  Invalid     -5     QlCNs123     Unknown!      XvqFZW
2           Free$      NaN     -5    aGhtJWWn#     Unknown!      KVVDsM
14         83.404  Invalid  -4.53       syXYU#     Unknown!         RMt
23         85.535    15.66   High     AwjWU123    Cancelled    NotValid
66          Free$  Invalid     -5  HhhBoYCT123          NaN      123456
73         -7.934    35.06   High    VSxIipDn@    Cancelled         dEK
83          Extra  Invalid  -2.12       qFCwv#    Completed      123456
98            NaN   -41.13     -5   LelNwAj123     Unknown!      123456
142        24.523  Invalid  -2.65    hajWLA123    Completed    NotValid
192        76.481      NaN     -5    gGXnZMDz@          NaN      123456
193         Extra  Invalid  -0.13     rOKtLvx#      Pending      XmcdNF
204           NaN  Invalid  12.64    TVSntmzE@    Completed         AhC
206        46.923      NaN     -5     nrtccFn@      Pending      DZctKJ
231         Extra  Invalid   High     yECvt123    Completed    NotValid
240           NaN   -26.29     -5      ngSRCM#      Pending    NotValid
273         Free$  Invalid     -5      WgVrBs@    Cancelled         eBM
294           NaN  Invalid  18.31    YuuFAVmm#     Unknown!    NotValid
315        -2.825      NaN  -4.61       dkDCk@    Cancelled         jGT
327        68.302      NaN     -5      dWQWkF#          NaN    NotValid
330           NaN  Invalid   9.63    FyBqyBYj#     Unknown!      ZpVtXf
337         Free$  Invalid   High    QlFPPbfe#     Unknown!    NotValid
357         29.91  Invalid     -5      UduElZ@      Pending      123456
372           NaN  Invalid   High     XczECnV#     Unknown!    NotValid
386           NaN  Invalid   High    jvJIyr123     Unknown!      123456
415         Extra      NaN     -5    zMYfkrgT@      Pending      UGMShh
422         Free$  Invalid     -5  JqspqFAU123      Pending    NotValid
432           NaN   -46.77  -1.89     uRvbuXh@          NaN    NotValid
499         Free$  Invalid     -5       grbGC#     Unknown!      hEhWUY
500           NaN     3.91    3.4      xBCgSt#     Unknown!      HfctMZ
509         Free$      NaN   High    dtrcloOI#     Returned      ljYjMb
531           NaN  Invalid   High   YOAnFew123          NaN    NotValid
570         Free$      NaN     -5      qpsgGB@      Pending    NotValid
598           NaN  Invalid     -5     pDXHZ123          NaN    NotValid
638           NaN    39.76     -5     DRcItuc@    Cancelled    NotValid
642         Extra      NaN   High    sLHbugdz#     Returned      TyGLfL
668        24.869  Invalid   High     UHTff123     Unknown!      123456
686         Extra  Invalid   High       NMwqW#     Returned    NotValid
698         Free$  Invalid     -5   PWmswqL123    Completed         amB
748         Free$      NaN   7.68    Mrgscr123    Cancelled    NotValid
753         Extra   -33.77   High       YAfss#      Pending      ijOkMR
755           NaN     0.51   High    WuTEbscL#     Unknown!         FFD
812        -2.159    -1.19  17.68  QPqSviDQ123    Completed         hhJ
816           NaN      NaN  11.06       skrqn#     Unknown!         dxa
840        66.036    45.41   2.89      pDtmXh#    Cancelled    NotValid
842           NaN      NaN     -5    QFSBxS123     Unknown!    NotValid
853         Free$  Invalid  -2.26    hZGZFwKi@     Unknown!    NotValid
877         Free$   -23.65   High    ibwdCOps@     Returned    NotValid
892         Extra  Invalid   High     gNxty123     Unknown!      QAvfNn
912         5.286  Invalid   7.47       jdLor@     Unknown!         NZK
926         Extra      NaN   High      xFEyuj@    Completed      JyvyjG
942           NaN      NaN   High      IkvAzf@      Pending         rxo
945           NaN   -22.81  -0.21       tGfYc@          NaN    NotValid
953        79.487   -19.17   High     HKnNHpM@    Completed         tYh
964           NaN      NaN     -5    KhZZnfsK@    Completed         tyt

           Country Phone_Number                 Email  Delivery_Time
0             U.S.          NaN                   NaN  Not available
2             U.S.          NaN                   NaN  Not available
14             USA          NaN                   NaN             95
23             123   6347809584                   NaN             82
66             NaN          NaN                   NaN  Not available
73            U.S.     12345678               noemail             72
83             123   8596990740               noemail        Missing
98   United States   Invalid123               noemail             13
142            123     12345678               noemail  Not available
192            123          NaN     KvzdcBmlk@hotmail             75
193            123   7983365119                   NaN             61
204  United States          NaN                   NaN        Missing
206  United States   Invalid123                   NaN             58
231            USA     12345678               noemail        Missing
240            123   8953915760               noemail             34
273            USA          NaN                   NaN  Not available
294            NaN   6847231779               noemail        Missing
315  United States          NaN                   NaN        Missing
327            NaN          NaN                   NaN             95
330            123          NaN               noemail  Not available
337           U.S.   Invalid123   avYVjLunv@gmail.com  Not available
357            USA   Invalid123                   NaN             70
372            USA   Invalid123      CfghVKBCuh@yahoo        Missing
386            123   7005743183                   NaN             87
415            123   Invalid123  sBkCqKFRRX@gmail.com  Not available
422           U.S.   Invalid123                 cDvRE             17
432           U.S.   4590345577           WjCWW@yahoo        Missing
499            NaN   Invalid123                   NaN  Not available
500            NaN   Invalid123    RLHddMDA@gmail.com  Not available
509            123   Invalid123               noemail        Missing
531            NaN          NaN           VdBTZ@yahoo             80
570            USA   5585141843                   NaN        Missing
598  United States     12345678               noemail        Missing
638            123          NaN               noemail             94
642            USA          NaN                   NaN  Not available
668  United States          NaN                   NaN             37
686            123     12345678                 wtsEK  Not available
698           U.S.   9677919088        kkqQvnVo@yahoo            -10
748            USA     12345678                 xhony        Missing
753           U.S.   7507212890                   NaN  Not available
755            USA   6085322161                   NaN             82
812            NaN   3294039329            eAQgehrGvH             63
816           U.S.          NaN               noemail             70
840            NaN   4830268502         bwfiK@hotmail        Missing
842            USA   Invalid123               cHkszAL             31
853           U.S.          NaN                   NaN             22
877            USA          NaN             tzGxZyHxE  Not available
892  United States   Invalid123           qFnpd@yahoo  Not available
912           U.S.   9277813081                 oMxbO             86
926            123   9793260227            czOQSyzgeL  Not available
942           U.S.     12345678               noemail        Missing
945            USA   4976929630       TcYkHMR@hotmail             62
953           U.S.          NaN               noemail             22
964            USA   6785923748                   NaN              5

In [9]:
# Part 7: Checking for negative 'Quantity' values

# First, we convert 'Quantity' to numeric, coercing errors to NaN.
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')

negative_quantity = df[df['Quantity'] < 0]
print(f"Negative Quantity values:\n{negative_quantity}")

Negative Quantity values:
     Order_ID         Customer_Name   State        City        Product  \
0         NaN                   NaN  Calif#        vlhG    nxJlrLVa123
2         NaN                 quckz  Calif#     BqRoG!!      iLqNmM123
14    36373.0                Rmuhfq  Calif#     clJQu!!         nGbypg
23    -9491.0             cJBRmrHRu     NaN    vLTNmNN@  xvzilkuuId
66        NaN                 FOpAl      MA        WGHg       loPQyjgB
73        NaN              John#Doe  Calif#     ezjpyq@        AaOvQCr
83        NaN                 jbUlr      Pl       WWh!!     gpEDwWD
98    39795.0                   NaN  Calif#     AxFVENX       UtsAL
142   88145.0              John#Doe      ED    NozzNyqY      UNOTxwzMR
192   -7046.0                   NaN  Calif#   EfXGOOg!!    YTdOyOqD123
193   69093.0                   NaN      NC   SNgAKaTI@     ynHywkn123
204       NaN             HESfpRmun      PA         PeL       wkxtE
206   35837.0  VLDmKrgTpEKoiifyYyBc     NaN    gqCWhFh@   IJPSlCjVP123
231   60755.0             baYpfduOW      Az       itNYc      QOftWv123
240   34408.0              John#Doe     NaN     vscfDY@    nEAtWuDt
273   36435.0  NOqWlQckXpMHNZyUCgkQ      Qb   ILeMmxdk@      INYbKe123
294       NaN  xQTmjVZSUpMxPhEhnCVu     NaN      KyZE!!  aerWiSqXxO123
315       NaN  zaHkprfaaQhmpsxIMfqK      NY       FVZi@     wpkYyGD123
327       NaN                   NaN     NaN       FhV!!     NiAcJdu123
330   25740.0              John#Doe      aa         RCB       ghXQE
337   62600.0  HHVoKkVsWcskXSCMgADO      CA     vwlRCk@      bfOoJo123
357       NaN              John#Doe      HS       YGFv@       WWZYV
372       NaN               123John     NaN     vGvUwrR   MfFuXrNNm123
386   -8439.0               123John      jr      CQBWM@     ndDoqXV123
415       NaN              John#Doe  Calif#      dzEVS@        OiDlfRX
422   53468.0                   NaN      MI       wavY@  sBFOQLgWmq123
432       NaN              aVNbpSql  Calif#    FwSove!!        WuOzIHj
499   -2337.0                   NaN      dZ        KNva     jnvYiRk123
500       NaN            uGDbTgQiFR      WA    SSStLM!!     iqDTOReCQb
509   29991.0                   NaN     NaN   CJCfTwnb@     LJxTzOx
531   -5201.0               FUCxNXg      bj     wcVmmt@     gFtjttMFAw
570       NaN                   NaN     NaN    sEudRn!!     jwRMVAe
598       NaN              CAqdcXVQ  Calif#        cWx@       VyFKF123
638   -9202.0                   NaN     NaN       YvUl@         rfuwcB
642   -5408.0               123John      KB       GZd!!      gcwuXkvzA
668   -8098.0              John#Doe      QY    lYpNlZB@  FisgcorXyu123
686   92413.0              John#Doe     NaN    OGYJZoKI     bkKnnLmVLy
698   -4136.0               123John      xs  GsaeBgpF!!    ZwDueNGP123
748       NaN               123John  Calif#     ZUhZNq@      qxxpBczVP
753       NaN              John#Doe  Calif#     UYDDD!!  UzQwXsUXIT123
755       NaN               123John  Calif#      DanI!!     GXDkZJF123
812   19925.0            buIKDDxMXd  Calif#      BjCY!!     MnyKEZuwaO
816       NaN  HPhkNQuJmNtPhJQnhedq      ve      QXfhAH    LbgXfuyg
840       NaN              uHwXCMEP  Calif#   qDMtWBzp@   pRpLpBwnH
842   -8997.0  CywORdlBmNpYIbpzjSuv  Calif#   yYLCvcF!!        eFKglzq
853   39185.0  wLTAfyRNcJhCUlCzRSiI  Calif#       eCUYE     jweCNMJ
877   -1076.0  VxPNelsvfpLYkOymDeKo      CA   RaNLpzT!!      GAwEhfgkY
892       NaN            trghLgMnCj  Calif#     poRRBL@  DWsRdOllua
912   99465.0              John#Doe     NaN     NmLFT!!      YMpKcbxHk
926   11542.0  tUVcgABslditjOouNKjC      VA     dOIFw!!        HUOKLnw
942   -5629.0              John#Doe     NaN        uJm@     TJItKbe
945       NaN               123John  Calif#      PkDb!!  JLgaLELvvx123
953       NaN             mwRCLAiYj     NaN     SONKhD@  WkDkFqZMQr123
964       NaN                   NaN  Calif#        qGG@      WFagsf123

     Quantity         Price Total_Sales Purchase_Date  Payment_Method  \
0        -9.0             0           0     9/17/2021             NaN
2        -9.0         350.2   Incorrect     6/23/2023            Cash
14       -9.0  Not a number         NaN     4/27/2024         Checque
23       -4.0  Not a number           0           NaN  Credit Payment
66       -7.0        283.49    -1984.43      6/1/2024            Cash
73       -8.0  Not a number         NaN     5/27/2016         Checque
83       -4.0             0        -100    11/24/2022            Cash
98       -3.0        975.74        -100           NaN             NaN
142      -8.0             0         NaN           NaN            Cash
192      -9.0  Not a number       Error     7/17/2021         Checque
193      -5.0             0         NaN    11/11/2021  Credit Payment
204      -9.0        414.95        -100           NaN  Credit Payment
206     -10.0        372.38   Incorrect           NaN         Checque
231      -1.0             0         NaN           NaN         Checque
240      -3.0             0        -100           NaN             NaN
273      -6.0  Not a number         NaN      2/3/2016  Credit Payment
294      -3.0        408.68         623     2/14/2023         Checque
315      -1.0             0           0     9/15/2020           Debit
327     -10.0             0   Incorrect     7/24/2015  Credit Payment
330      -7.0         653.4         NaN     4/27/2022         Checque
337      -7.0             0         530      6/6/2023           Debit
357      -8.0        243.19    -1945.52           NaN           Debit
372      -2.0        772.95     -1545.9           NaN             NaN
386      -1.0        886.89     -886.89           NaN         Checque
415      -7.0        579.26    -4054.82           NaN            Cash
422      -5.0  Not a number        -100           NaN             NaN
432      -9.0  Not a number       Error    11/10/2011         Checque
499     -10.0             0           0      4/7/2018         Checque
500      -7.0  Not a number         NaN     4/13/2023  Credit Payment
509     -10.0  Not a number         NaN    12/22/2010             NaN
531      -9.0             0           0      4/3/2024            Cash
570      -6.0             0           0      7/2/2019         Checque
598      -7.0             0   Incorrect           NaN            Cash
638     -10.0         546.4   Incorrect     7/27/2021         Checque
642      -2.0        -39.76       79.52      4/3/2018            Cash
668      -5.0  Not a number         457           NaN           Debit
686      -9.0             0           0    12/12/2023            Cash
698     -10.0        996.82   Incorrect      6/5/2017  Credit Payment
748      -5.0  Not a number        -100     3/26/2020            Cash
753      -8.0             0           0     12/5/2018           Debit
755      -2.0  Not a number         NaN           NaN  Credit Payment
812      -7.0             0         NaN     7/24/2020         Checque
816      -6.0             0         NaN      2/7/2021             NaN
840      -1.0        820.01     -820.01     3/19/2021           Debit
842      -3.0             0           0           NaN            Cash
853      -2.0  Not a number         NaN    12/21/2020         Checque
877      -3.0  Not a number   Incorrect     5/17/2013  Credit Payment
892      -7.0             0        -100           NaN           Debit
912      -2.0  Not a number           0    11/18/2022            Cash
926      -6.0         14.65         NaN      7/9/2023         Checque
942      -9.0  Not a number   Incorrect           NaN             NaN
945      -6.0        388.76    -2332.56     8/19/2013         Checque
953      -9.0        797.76   Incorrect      8/8/2020             NaN
964      -2.0             0         160           NaN             NaN

    Shipping_Cost Discount    Tax    Sales_Rep Order_Status Customer_ID  \
0            5.14  Invalid     -5     QlCNs123     Unknown!      XvqFZW
2           Free$      NaN     -5    aGhtJWWn#     Unknown!      KVVDsM
14         83.404  Invalid  -4.53       syXYU#     Unknown!         RMt
23         85.535    15.66   High     AwjWU123    Cancelled    NotValid
66          Free$  Invalid     -5  HhhBoYCT123          NaN      123456
73         -7.934    35.06   High    VSxIipDn@    Cancelled         dEK
83          Extra  Invalid  -2.12       qFCwv#    Completed      123456
98            NaN   -41.13     -5   LelNwAj123     Unknown!      123456
142        24.523  Invalid  -2.65    hajWLA123    Completed    NotValid
192        76.481      NaN     -5    gGXnZMDz@          NaN      123456
193         Extra  Invalid  -0.13     rOKtLvx#      Pending      XmcdNF
204           NaN  Invalid  12.64    TVSntmzE@    Completed         AhC
206        46.923      NaN     -5     nrtccFn@      Pending      DZctKJ
231         Extra  Invalid   High     yECvt123    Completed    NotValid
240           NaN   -26.29     -5      ngSRCM#      Pending    NotValid
273         Free$  Invalid     -5      WgVrBs@    Cancelled         eBM
294           NaN  Invalid  18.31    YuuFAVmm#     Unknown!    NotValid
315        -2.825      NaN  -4.61       dkDCk@    Cancelled         jGT
327        68.302      NaN     -5      dWQWkF#          NaN    NotValid
330           NaN  Invalid   9.63    FyBqyBYj#     Unknown!      ZpVtXf
337         Free$  Invalid   High    QlFPPbfe#     Unknown!    NotValid
357         29.91  Invalid     -5      UduElZ@      Pending      123456
372           NaN  Invalid   High     XczECnV#     Unknown!    NotValid
386           NaN  Invalid   High    jvJIyr123     Unknown!      123456
415         Extra      NaN     -5    zMYfkrgT@      Pending      UGMShh
422         Free$  Invalid     -5  JqspqFAU123      Pending    NotValid
432           NaN   -46.77  -1.89     uRvbuXh@          NaN    NotValid
499         Free$  Invalid     -5       grbGC#     Unknown!      hEhWUY
500           NaN     3.91    3.4      xBCgSt#     Unknown!      HfctMZ
509         Free$      NaN   High    dtrcloOI#     Returned      ljYjMb
531           NaN  Invalid   High   YOAnFew123          NaN    NotValid
570         Free$      NaN     -5      qpsgGB@      Pending    NotValid
598           NaN  Invalid     -5     pDXHZ123          NaN    NotValid
638           NaN    39.76     -5     DRcItuc@    Cancelled    NotValid
642         Extra      NaN   High    sLHbugdz#     Returned      TyGLfL
668        24.869  Invalid   High     UHTff123     Unknown!      123456
686         Extra  Invalid   High       NMwqW#     Returned    NotValid
698         Free$  Invalid     -5   PWmswqL123    Completed         amB
748         Free$      NaN   7.68    Mrgscr123    Cancelled    NotValid
753         Extra   -33.77   High       YAfss#      Pending      ijOkMR
755           NaN     0.51   High    WuTEbscL#     Unknown!         FFD
812        -2.159    -1.19  17.68  QPqSviDQ123    Completed         hhJ
816           NaN      NaN  11.06       skrqn#     Unknown!         dxa
840        66.036    45.41   2.89      pDtmXh#    Cancelled    NotValid
842           NaN      NaN     -5    QFSBxS123     Unknown!    NotValid
853         Free$  Invalid  -2.26    hZGZFwKi@     Unknown!    NotValid
877         Free$   -23.65   High    ibwdCOps@     Returned    NotValid
892         Extra  Invalid   High     gNxty123     Unknown!      QAvfNn
912         5.286  Invalid   7.47       jdLor@     Unknown!         NZK
926         Extra      NaN   High      xFEyuj@    Completed      JyvyjG
942           NaN      NaN   High      IkvAzf@      Pending         rxo
945           NaN   -22.81  -0.21       tGfYc@          NaN    NotValid
953        79.487   -19.17   High     HKnNHpM@    Completed         tYh
964           NaN      NaN     -5    KhZZnfsK@    Completed         tyt

           Country Phone_Number                 Email  Delivery_Time
0             U.S.          NaN                   NaN  Not available
2             U.S.          NaN                   NaN  Not available
14             USA          NaN                   NaN             95
23             123   6347809584                   NaN             82
66             NaN          NaN                   NaN  Not available
73            U.S.     12345678               noemail             72
83             123   8596990740               noemail        Missing
98   United States   Invalid123               noemail             13
142            123     12345678               noemail  Not available
192            123          NaN     KvzdcBmlk@hotmail             75
193            123   7983365119                   NaN             61
204  United States          NaN                   NaN        Missing
206  United States   Invalid123                   NaN             58
231            USA     12345678               noemail        Missing
240            123   8953915760               noemail             34
273            USA          NaN                   NaN  Not available
294            NaN   6847231779               noemail        Missing
315  United States          NaN                   NaN        Missing
327            NaN          NaN                   NaN             95
330            123          NaN               noemail  Not available
337           U.S.   Invalid123   avYVjLunv@gmail.com  Not available
357            USA   Invalid123                   NaN             70
372            USA   Invalid123      CfghVKBCuh@yahoo        Missing
386            123   7005743183                   NaN             87
415            123   Invalid123  sBkCqKFRRX@gmail.com  Not available
422           U.S.   Invalid123                 cDvRE             17
432           U.S.   4590345577           WjCWW@yahoo        Missing
499            NaN   Invalid123                   NaN  Not available
500            NaN   Invalid123    RLHddMDA@gmail.com  Not available
509            123   Invalid123               noemail        Missing
531            NaN          NaN           VdBTZ@yahoo             80
570            USA   5585141843                   NaN        Missing
598  United States     12345678               noemail        Missing
638            123          NaN               noemail             94
642            USA          NaN                   NaN  Not available
668  United States          NaN                   NaN             37
686            123     12345678                 wtsEK  Not available
698           U.S.   9677919088        kkqQvnVo@yahoo            -10
748            USA     12345678                 xhony        Missing
753           U.S.   7507212890                   NaN  Not available
755            USA   6085322161                   NaN             82
812            NaN   3294039329            eAQgehrGvH             63
816           U.S.          NaN               noemail             70
840            NaN   4830268502         bwfiK@hotmail        Missing
842            USA   Invalid123               cHkszAL             31
853           U.S.          NaN                   NaN             22
877            USA          NaN             tzGxZyHxE  Not available
892  United States   Invalid123           qFnpd@yahoo  Not available
912           U.S.   9277813081                 oMxbO             86
926            123   9793260227            czOQSyzgeL  Not available
942           U.S.     12345678               noemail        Missing
945            USA   4976929630       TcYkHMR@hotmail             62
953           U.S.          NaN               noemail             22
964            USA   6785923748                   NaN              5

In [10]:
# Part 8: Checking for excessive 'Total_Sales' values

# Convert 'Total_Sales' to numeric, coercing errors to NaN.
df['Total_Sales'] = pd.to_numeric(df['Total_Sales'], errors='coerce')

excessive_total_sales = df[df['Total_Sales'] > 10000]
print(f"Excessive Total Sales values:\n{excessive_total_sales}")

Excessive Total Sales values:
     Order_ID         Customer_Name   State        City        Product  \
102   57987.0                   NaN      Ko       VwmV@     OthjGOX123
106       NaN  zfDcsItCmWZHNZhMbOcP      GA   TYrVgbvh@       JCXNb123
114   92335.0              John#Doe  Calif#      gTDbZJ      CoGqIV
200       NaN              John#Doe      VA  ZqWCXUza!!    fZZVNdOL
222   -9027.0  lumIMCsecrRvjKPugZcN     NaN      UKkPqH         nbzAPB
250   94519.0  dakqQpdxaIbbHJaeSabu  Calif#     zbMJv!!  uZwAKPvCcK
344       NaN               MfzOSqd  Calif#      IGvI!!   qjGpSHUXq
414       NaN                   NaN  Calif#    gqnPqv!!  DvvpgudVgr123
421   -9207.0             GtXbQWkMV      OH   KlLhwOd!!          weWhl
476   -1330.0             swwCCYkWP  Calif#       zcFMU      axLbREkYq
539       NaN               123John      NY        hVnB  hzWUgnOcYb123
612   32255.0              emXcqawF      MI   ThhNuwE!!       vnYqapKy
703   48626.0              John#Doe     NaN    yUoMTkny   zcGbjneOh
710   -1089.0  HCQFcfDzDMrMkldhEtuN  Calif#      ftqXGu    ZRSkOkzc
727   47444.0              John#Doe  Calif#     dCLUre@        xwDuhAG
806   90189.0  oDOUanHvKFbodltYRdkM      oV    FONkHD!!    eEdfokru123
867   19448.0  TJGdwiOWwTlwArRJGwpG      MI     BMCmoqC    YKVKCooL
969       NaN  cYSkJRsutARctNKneuXh     NaN      bBqsmH    FMcSGzAl

     Quantity   Price  Total_Sales Purchase_Date  Payment_Method  \
102      46.0  900.07     41403.22      7/1/2022         Checque
106      33.0  786.29     25947.57           NaN             NaN
114      28.0  786.74     22028.72     5/28/2014             NaN
200      25.0  880.56     22014.00     6/10/2025         Checque
222      36.0  982.21     35359.56           NaN             NaN
250      37.0  956.25     35381.25     11/5/2023         Checque
344      43.0  645.86     27771.98           NaN            Cash
414      24.0  684.67     16432.08     3/11/2022         Checque
421      13.0  889.79     11567.27    10/27/2020  Credit Payment
476      48.0  862.66     41407.68           NaN         Checque
539      38.0  999.34     37974.92           NaN           Debit
612      26.0  815.51     21203.26           NaN  Credit Payment
703      35.0  843.96     29538.60    12/23/2024  Credit Payment
710      24.0   773.6     18566.40     9/20/2024         Checque
727      18.0  835.98     15047.64     10/9/2014            Cash
806      36.0  403.66     14531.76           NaN             NaN
867      18.0  669.61     12052.98     5/24/2021  Credit Payment
969      44.0   371.1     16328.40           NaN           Debit

    Shipping_Cost Discount    Tax    Sales_Rep Order_Status Customer_ID  \
102        64.772  Invalid   High     vAvvCXs@          NaN    NotValid
106           NaN     37.2  -2.58     CnLCGLq#     Unknown!    NotValid
114           NaN      NaN     -5      VkFdfC#    Cancelled         tcH
200         Extra      NaN   11.7    pBIqikOD#    Completed    NotValid
222        39.153      NaN     -5      IcunDa@          NaN      123456
250           NaN  Invalid   High    oYrrBXcU@    Cancelled         cCN
344         Free$      NaN   High    puVgYX123    Completed    NotValid
414         50.99  Invalid  13.65     vHhoH123      Pending    NotValid
421           NaN  Invalid     -5      IfNNcZ@          NaN      123456
476           NaN   -18.74     -5      EZZHbs#     Returned         OVt
539           NaN      NaN  10.04       GPssF@    Cancelled      KRIGJq
612        29.999    30.53   1.75      XGVYso#          NaN      123456
703           NaN      NaN  19.58     wmTNTzG@      Pending      SwDgIQ
710        15.924  Invalid   High       fGgvx@    Completed    NotValid
727         Free$    -2.29     -5      IBlWrg@          NaN      123456
806           NaN  Invalid   High    wMhmMq123      Pending         Psd
867        -3.937  Invalid     -5  HmKVctoe123    Cancelled         LiB
969           NaN  Invalid   14.3       ZonXN#      Pending         ggi

           Country Phone_Number               Email  Delivery_Time
102            NaN     12345678       eQKLCFX@yahoo        Missing
106            NaN   Invalid123             noemail        Missing
114            NaN   3226479906                 NaN        Missing
200            USA   5314405784             noemail        Missing
222            123     12345678                 NaN             81
250           U.S.    333648220                 NaN             94
344  United States   3468853159                 NaN             30
414            USA          NaN             noemail             60
421            USA          NaN                 NaN             52
476            USA          NaN             noemail             88
539           U.S.   Invalid123         taKVt@yahoo  Not available
612           U.S.          NaN                 NaN             16
703            123     12345678       ffJZd@hotmail             43
710            NaN   9774059010                 NaN  Not available
727  United States          NaN                 NaN             28
806           U.S.     12345678        QOUEQC@yahoo             75
867  United States          NaN             noemail  Not available
969            USA   7093282287  VMoaVwgb@gmail.com             43

In [11]:
# Part 9: Checking for inconsistent 'Shipping_Cost' values

# Convert 'Shipping_Cost' to numeric, coercing errors to NaN.
df['Shipping_Cost'] = pd.to_numeric(df['Shipping_Cost'], errors='coerce')

inconsistent_shipping_cost = df[df['Shipping_Cost'] > df['Total_Sales']]
print(f"Inconsistent Shipping Cost values:\n{inconsistent_shipping_cost}")

Inconsistent Shipping Cost values:
     Order_ID Customer_Name   State      City        Product  Quantity  \
0         NaN           NaN  Calif#      vlhG    nxJlrLVa123      -9.0
10    81519.0     xMwbJYKQB     NaN       pIl  VgmchppGTF         12.0
23    -9491.0     cJBRmrHRu     NaN  vLTNmNN@  xvzilkuuId         -4.0
36    -5297.0       123John  Calif#      fszi       SnLmx123       0.0
44    43274.0       123John  Calif#     RvXl@       oRGxJNIl       0.0
..        ...           ...     ...       ...            ...       ...
944       NaN      John#Doe      GA      JGm@       LvUgy          0.0
952       NaN     cViFbOxNF      GA     nNS!!       yqaBN         41.0
963   83672.0           NaN  Calif#     BAd!!      vwilEo123      48.0
986       NaN      John#Doe      Hm  HfQAXwJ@  vBiQNeEyHp          NaN
988       NaN      John#Doe  Calif#     TaEB@      xVBQkK123       NaN

            Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
0               0          0.0     9/17/2021             NaN          5.140
10              0          0.0     7/18/2017         Checque          7.858
23   Not a number          0.0           NaN  Credit Payment         85.535
36         663.44          0.0           NaN  Credit Payment         55.622
44   Not a number          0.0     6/24/2015           Debit         51.875
..            ...          ...           ...             ...            ...
944             0       -100.0           NaN           Debit         83.825
952  Not a number       -100.0           NaN  Credit Payment         55.641
963  Not a number          0.0     3/26/2010  Credit Payment         91.562
986             0          0.0     5/15/2023             NaN         31.126
988  Not a number       -100.0     5/11/2015             NaN         77.359

    Discount    Tax  Sales_Rep Order_Status Customer_ID        Country  \
0    Invalid     -5   QlCNs123     Unknown!      XvqFZW           U.S.
10      4.62     -5  jWTuyV123    Completed      ybFLZZ  United States
23     15.66   High   AwjWU123    Cancelled    NotValid            123
36   Invalid     -5    bTGMqr#     Returned    NotValid            123
44   Invalid  -3.24     opMbL@    Cancelled      kstrVf            123
..       ...    ...        ...          ...         ...            ...
944  Invalid     -5  QbzKIYPj@          NaN         jvm            123
952   -15.09     -5     GOili#    Cancelled      FwzlDy  United States
963      NaN     -5  WQqycakh#          NaN         gTp           U.S.
986      NaN  -1.18  qSwJjhKX#      Pending         FrI           U.S.
988  Invalid   High   NUnRIea@      Pending         upv  United States

    Phone_Number              Email  Delivery_Time
0            NaN                NaN  Not available
10    Invalid123  ghpVpRv@gmail.com             67
23    6347809584                NaN             82
36    Invalid123            noemail        Missing
44           NaN                NaN             -3
..           ...                ...            ...
944     12345678            noemail        Missing
952   Invalid123     ZCdXoYJB@yahoo             28
963    195870666                NaN             48
986     12345678      dpONK@hotmail             37
988     12345678                NaN        Missing

[90 rows x 20 columns]

In [12]:
# Part 10: Checking for negative 'Tax' values

# Convert 'Tax' to numeric, coercing errors to NaN.
df['Tax'] = pd.to_numeric(df['Tax'], errors='coerce')

negative_tax = df[df['Tax'] < 0]
print(f"Negative Tax values:\n{negative_tax}")

Negative Tax values:
     Order_ID         Customer_Name   State      City        Product  \
0         NaN                   NaN  Calif#      vlhG    nxJlrLVa123
2         NaN                 quckz  Calif#   BqRoG!!      iLqNmM123
7     14840.0               peYofjf     NaN   hLsTB!!       YVpzv123
9     93428.0                   NaN  Calif#   yUudpqw       wxwoP123
10    81519.0             xMwbJYKQB     NaN       pIl  VgmchppGTF
..        ...                   ...     ...       ...            ...
986       NaN              John#Doe      Hm  HfQAXwJ@  vBiQNeEyHp
987       NaN  wFIjrNTWdywdGVDKzqEb      GA    QLeULO      VbeJZv
992    -564.0               123John     NaN   tuJSws@      vdrBUG
993       NaN               123John      Cn  XwTSLOpO       KcoDu123
994       NaN  infjvFHeooDgZewlUxMV     NaN     pmJf@    RvhhGDuZ123

     Quantity         Price  Total_Sales Purchase_Date  Payment_Method  \
0        -9.0             0          0.0     9/17/2021             NaN
2        -9.0         350.2          NaN     6/23/2023            Cash
7         0.0             0          0.0      5/1/2015            Cash
9         NaN             0          NaN      7/7/2023           Debit
10       12.0             0          0.0     7/18/2017         Checque
..        ...           ...          ...           ...             ...
986       NaN             0          0.0     5/15/2023             NaN
987       NaN        703.42       -100.0      3/3/2023         Checque
992       NaN  Not a number          NaN      8/1/2017  Credit Payment
993      16.0             0        569.0           NaN  Credit Payment
994       NaN        790.43        358.0           NaN             NaN

     Shipping_Cost Discount   Tax    Sales_Rep Order_Status Customer_ID  \
0            5.140  Invalid -5.00     QlCNs123     Unknown!      XvqFZW
2              NaN      NaN -5.00    aGhtJWWn#     Unknown!      KVVDsM
7              NaN      NaN -5.00       ZsUms#     Unknown!      nbrzRe
9           38.769  Invalid -5.00    tUUSme123    Cancelled         ZmV
10           7.858     4.62 -5.00    jWTuyV123    Completed      ybFLZZ
..             ...      ...   ...          ...          ...         ...
986         31.126      NaN -1.18    qSwJjhKX#      Pending         FrI
987            NaN     2.52 -3.24     xKVki123     Returned      123456
992            NaN  Invalid -0.66  GIvTIwcM123    Completed      AdwmCC
993            NaN    16.58 -5.00      XYVenX@      Pending      ngHDRR
994            NaN      NaN -5.00      xYDHTt@          NaN      123456

           Country Phone_Number              Email  Delivery_Time
0             U.S.          NaN                NaN  Not available
2             U.S.          NaN                NaN  Not available
7              123   Invalid123                NaN  Not available
9    United States          NaN     eLsUdt@hotmail        Missing
10   United States   Invalid123  ghpVpRv@gmail.com             67
..             ...          ...                ...            ...
986           U.S.     12345678      dpONK@hotmail             37
987           U.S.     12345678            noemail             71
992            NaN     12345678            noemail             52
993  United States          NaN            noemail             66
994            123          NaN                NaN        Missing

[422 rows x 20 columns]

In [13]:
# Part 11: Checking for excessive 'Tax' values

# The Tax should typically be a percentage and hence not exceed 100.
excessive_tax = df[df['Tax'] > 100]
print(f"Excessive Tax values:\n{excessive_tax}")

Excessive Tax values:
Empty DataFrame
Columns: [Order_ID, Customer_Name, State, City, Product, Quantity, Price, Total_Sales, Purchase_Date, Payment_Method, Shipping_Cost, Discount, Tax, Sales_Rep, Order_Status, Customer_ID, Country, Phone_Number, Email, Delivery_Time]
Index: []

In [14]:
# Part 12: Checking for non-numeric values in 'Shipping_Cost'

non_numeric_shipping_cost = df[pd.to_numeric(df['Shipping_Cost'], errors='coerce').isnull()]
print(f"Non-numeric shipping costs:\n{non_numeric_shipping_cost}")

Non-numeric shipping costs:
     Order_ID Customer_Name   State       City      Product  Quantity  \
1     55834.0           NaN     NaN        xIk        iWCYv       NaN
2         NaN         quckz  Calif#    BqRoG!!    iLqNmM123      -9.0
3         NaN      John#Doe      Zz    JUqSAP@  oLUIHFfA         38.0
4     -2033.0       123John      jU      mppXi   EYBoNPS123       NaN
5         NaN      John#Doe  Calif#     vuiCr@    TaixLE          0.0
..        ...           ...     ...        ...          ...       ...
995    -761.0           NaN      IL   WDrnCbXJ     pOBUv123       0.0
996       NaN    XihedmGYce  Calif#    FLwgP!!  JRlSMuTy123       0.0
997       NaN           NaN     NaN  USLnPoyD@   FPjbBxZFRI      50.0
998   -3723.0      John#Doe     NaN    kKVbQk@      LjMWnUN       NaN
999       NaN           NaN  Calif#   TdAfQV!!    dgbeFb          0.0

            Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
1               0          0.0           NaN         Checque            NaN
2           350.2          NaN     6/23/2023            Cash            NaN
3          345.58          NaN     1/28/2021  Credit Payment            NaN
4               0       -100.0    11/22/2022  Credit Payment            NaN
5    Not a number          NaN           NaN         Checque            NaN
..            ...          ...           ...             ...            ...
995  Not a number        475.0     9/10/2017           Debit            NaN
996             0          NaN     9/12/2021           Debit            NaN
997             0          0.0     7/22/2010            Cash            NaN
998        296.36          NaN     3/25/2020         Checque            NaN
999        690.17          NaN     2/17/2012           Debit            NaN

    Discount    Tax   Sales_Rep Order_Status Customer_ID        Country  \
1      25.11    NaN  jkATAyk123     Returned    NotValid  United States
2        NaN  -5.00   aGhtJWWn#     Unknown!      KVVDsM           U.S.
3      18.74    NaN     BprRml@    Cancelled    NotValid  United States
4      13.07    NaN   YgxXnx123      Pending         Oio            123
5      28.98   6.32    TBhRXVc#     Returned      123456           U.S.
..       ...    ...         ...          ...         ...            ...
995    -2.73    NaN  PQmSgCA123      Pending      GEvdQk            123
996  Invalid  12.84     QQiKoP#     Returned      FAdpMz           U.S.
997    -7.74    NaN      okkRH#      Pending      XBsfGP  United States
998  Invalid  13.80  DbloErg123     Unknown!      123456           U.S.
999    36.99    NaN    TblbUhh#    Cancelled    NotValid            NaN

    Phone_Number            Email  Delivery_Time
1            NaN          noemail             39
2            NaN              NaN  Not available
3       12345678  eAOenzoZc@yahoo        Missing
4            NaN          noemail  Not available
5            NaN          noemail  Not available
..           ...              ...            ...
995   8988717670          noemail             77
996   Invalid123          noemail             67
997   Invalid123        czFWSGlaC             41
998     12345678         eOAItVcH  Not available
999     12345678          noemail  Not available

[754 rows x 20 columns]

In [15]:
# Part 13: Checking for large decimal values in 'Shipping_Cost'

large_decimal_shipping_cost = df[df['Shipping_Cost'].apply(lambda x: len(str(x).split('.')[-1]) > 2 if '.' in str(x) else False)]
print(f"Shipping costs with too many decimal places:\n{large_decimal_shipping_cost}")

Shipping costs with too many decimal places:
     Order_ID Customer_Name   State      City        Product  Quantity  \
9     93428.0           NaN  Calif#   yUudpqw       wxwoP123       NaN
10    81519.0     xMwbJYKQB     NaN       pIl  VgmchppGTF         12.0
11        NaN        EtonLr      tk     oHVmU   agIdHeErd123       0.0
12    24051.0       123John      cO   PSBMxc@      XhvFwNXkz       NaN
14    36373.0        Rmuhfq  Calif#   clJQu!!         nGbypg      -9.0
..        ...           ...     ...       ...            ...       ...
968   57985.0           NaN      yP       MTC        OHZRscs       0.0
984       NaN       123John      dc     oMDzl        JzUvOcz      45.0
985       NaN      John#Doe      PA    oQnnA@     oOohQDWdvg       NaN
986       NaN      John#Doe      Hm  HfQAXwJ@  vBiQNeEyHp          NaN
988       NaN      John#Doe  Calif#     TaEB@      xVBQkK123       NaN

            Price  Total_Sales Purchase_Date Payment_Method  Shipping_Cost  \
9               0          NaN      7/7/2023          Debit         38.769
10              0          0.0     7/18/2017        Checque          7.858
11   Not a number          NaN     8/28/2021          Debit         99.715
12         -98.64          NaN     8/25/2017          Debit         65.897
14   Not a number          NaN     4/27/2024        Checque         83.404
..            ...          ...           ...            ...            ...
968  Not a number          NaN           NaN        Checque         18.601
984  Not a number          NaN           NaN           Cash          2.742
985  Not a number          NaN           NaN            NaN         46.858
986             0          0.0     5/15/2023            NaN         31.126
988  Not a number       -100.0     5/11/2015            NaN         77.359

    Discount   Tax    Sales_Rep Order_Status Customer_ID        Country  \
9    Invalid -5.00    tUUSme123    Cancelled         ZmV  United States
10      4.62 -5.00    jWTuyV123    Completed      ybFLZZ  United States
11     -27.7 -5.00      HNSXMY@    Cancelled         FKY            USA
12     35.67   NaN    eGoyZW123    Completed    NotValid           U.S.
14   Invalid -4.53       syXYU#     Unknown!         RMt            USA
..       ...   ...          ...          ...         ...            ...
968  Invalid -5.00   eplOCXl123    Cancelled      123456  United States
984    35.39 -5.00  brPLzesK123    Completed      MaoVZz            123
985     1.38 -5.00      FtmBAn@    Cancelled      sUttoq  United States
986      NaN -1.18    qSwJjhKX#      Pending         FrI           U.S.
988  Invalid   NaN     NUnRIea@      Pending         upv  United States

    Phone_Number              Email  Delivery_Time
9            NaN     eLsUdt@hotmail        Missing
10    Invalid123  ghpVpRv@gmail.com             67
11      12345678                NaN             71
12           NaN            noemail             73
14           NaN                NaN             95
..           ...                ...            ...
968          NaN                NaN        Missing
984          NaN       TTjloc@yahoo  Not available
985     12345678            noemail             86
986     12345678      dpONK@hotmail             37
988     12345678                NaN        Missing

[222 rows x 20 columns]

In [16]:
# Part 14: Checking for missing 'Discount' values

missing_discount = df[df['Discount'].isnull() | (df['Discount'] == '')]
print(f"Missing discounts:\n{missing_discount}")

Missing discounts:
     Order_ID         Customer_Name   State       City        Product  \
2         NaN                 quckz  Calif#    BqRoG!!      iLqNmM123
7     14840.0               peYofjf     NaN    hLsTB!!       YVpzv123
15    -6794.0              John#Doe  Calif#    rOPJL!!     BATFJfqjmQ
16    71451.0               123John      NC   HmaAuNW@   AJjQDYYeS123
18        NaN             jwtLQVAvt  Calif#  NAFBlUvc@        pnhOJfh
..        ...                   ...     ...        ...            ...
980       NaN                   NaN      MA      Gwx!!      sFpbmh
986       NaN              John#Doe      Hm   HfQAXwJ@  vBiQNeEyHp
989       NaN               123John  Calif#     mJOzF@      UuYFKF123
990       NaN              fKgtefMz     NaN    lePzRO@      JVfkfKBQA
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@    RvhhGDuZ123

     Quantity         Price  Total_Sales Purchase_Date  Payment_Method  \
2        -9.0         350.2          NaN     6/23/2023            Cash
7         0.0             0         0.00      5/1/2015            Cash
15       15.0             0          NaN     1/17/2024            Cash
16        0.0        112.08          NaN           NaN            Cash
18        7.0        301.28      2108.96      3/9/2023         Checque
..        ...           ...          ...           ...             ...
980       NaN         246.2       467.00     11/3/2020  Credit Payment
986       NaN             0         0.00     5/15/2023             NaN
989      28.0        903.61      -100.00     3/21/2022  Credit Payment
990       0.0  Not a number          NaN           NaN           Debit
994       NaN        790.43       358.00           NaN             NaN

     Shipping_Cost Discount    Tax  Sales_Rep Order_Status Customer_ID  \
2              NaN      NaN  -5.00  aGhtJWWn#     Unknown!      KVVDsM
7              NaN      NaN  -5.00     ZsUms#     Unknown!      nbrzRe
15          37.528      NaN   8.01    rsvdHS#    Completed         mwq
16          69.390      NaN  -0.38    NggNWw@    Cancelled         lBp
18             NaN      NaN   4.90    fXscqi#     Unknown!      nZFipi
..             ...      ...    ...        ...          ...         ...
980            NaN      NaN  -5.00  AwSBaq123      Pending         zGv
986         31.126      NaN  -1.18  qSwJjhKX#      Pending         FrI
989            NaN      NaN  15.99    DZJWWP#     Returned         Ggm
990            NaN      NaN  10.20     AScgX#      Pending         fjp
994            NaN      NaN  -5.00    xYDHTt@          NaN      123456

           Country Phone_Number           Email  Delivery_Time
2             U.S.          NaN             NaN  Not available
7              123   Invalid123             NaN  Not available
15             123   Invalid123             NaN             32
16             123     12345678             NaN             69
18             NaN          NaN             NaN        Missing
..             ...          ...             ...            ...
980            123     12345678  fghkHH@hotmail        Missing
986           U.S.     12345678   dpONK@hotmail             37
989  United States     12345678           dmIdE        Missing
990  United States     12345678         noemail  Not available
994            123          NaN             NaN        Missing

[333 rows x 20 columns]

In [17]:
# Part 15: Checking for invalid 'Customer_ID' format
# Comment: This checks for rows where 'Customer_ID' does not match the expected format (alphanumeric).
invalid_customer_id = df[~df['Customer_ID'].str.match(r'^[A-Za-z0-9]+$')]
print(f"Invalid Customer_ID values:\n{invalid_customer_id}")

Invalid Customer_ID values:
Empty DataFrame
Columns: [Order_ID, Customer_Name, State, City, Product, Quantity, Price, Total_Sales, Purchase_Date, Payment_Method, Shipping_Cost, Discount, Tax, Sales_Rep, Order_Status, Customer_ID, Country, Phone_Number, Email, Delivery_Time]
Index: []

In [18]:
# Part 16: Checking for incorrect 'Tax' values (negative or too high)

incorrect_tax = df[(df['Tax'] < 0) | (df['Tax'] > 100)]
print(f"Incorrect tax values:\n{incorrect_tax}")

Incorrect tax values:
     Order_ID         Customer_Name   State      City        Product  \
0         NaN                   NaN  Calif#      vlhG    nxJlrLVa123
2         NaN                 quckz  Calif#   BqRoG!!      iLqNmM123
7     14840.0               peYofjf     NaN   hLsTB!!       YVpzv123
9     93428.0                   NaN  Calif#   yUudpqw       wxwoP123
10    81519.0             xMwbJYKQB     NaN       pIl  VgmchppGTF
..        ...                   ...     ...       ...            ...
986       NaN              John#Doe      Hm  HfQAXwJ@  vBiQNeEyHp
987       NaN  wFIjrNTWdywdGVDKzqEb      GA    QLeULO      VbeJZv
992    -564.0               123John     NaN   tuJSws@      vdrBUG
993       NaN               123John      Cn  XwTSLOpO       KcoDu123
994       NaN  infjvFHeooDgZewlUxMV     NaN     pmJf@    RvhhGDuZ123

     Quantity         Price  Total_Sales Purchase_Date  Payment_Method  \
0        -9.0             0          0.0     9/17/2021             NaN
2        -9.0         350.2          NaN     6/23/2023            Cash
7         0.0             0          0.0      5/1/2015            Cash
9         NaN             0          NaN      7/7/2023           Debit
10       12.0             0          0.0     7/18/2017         Checque
..        ...           ...          ...           ...             ...
986       NaN             0          0.0     5/15/2023             NaN
987       NaN        703.42       -100.0      3/3/2023         Checque
992       NaN  Not a number          NaN      8/1/2017  Credit Payment
993      16.0             0        569.0           NaN  Credit Payment
994       NaN        790.43        358.0           NaN             NaN

     Shipping_Cost Discount   Tax    Sales_Rep Order_Status Customer_ID  \
0            5.140  Invalid -5.00     QlCNs123     Unknown!      XvqFZW
2              NaN      NaN -5.00    aGhtJWWn#     Unknown!      KVVDsM
7              NaN      NaN -5.00       ZsUms#     Unknown!      nbrzRe
9           38.769  Invalid -5.00    tUUSme123    Cancelled         ZmV
10           7.858     4.62 -5.00    jWTuyV123    Completed      ybFLZZ
..             ...      ...   ...          ...          ...         ...
986         31.126      NaN -1.18    qSwJjhKX#      Pending         FrI
987            NaN     2.52 -3.24     xKVki123     Returned      123456
992            NaN  Invalid -0.66  GIvTIwcM123    Completed      AdwmCC
993            NaN    16.58 -5.00      XYVenX@      Pending      ngHDRR
994            NaN      NaN -5.00      xYDHTt@          NaN      123456

           Country Phone_Number              Email  Delivery_Time
0             U.S.          NaN                NaN  Not available
2             U.S.          NaN                NaN  Not available
7              123   Invalid123                NaN  Not available
9    United States          NaN     eLsUdt@hotmail        Missing
10   United States   Invalid123  ghpVpRv@gmail.com             67
..             ...          ...                ...            ...
986           U.S.     12345678      dpONK@hotmail             37
987           U.S.     12345678            noemail             71
992            NaN     12345678            noemail             52
993  United States          NaN            noemail             66
994            123          NaN                NaN        Missing

[422 rows x 20 columns]

In [19]:
# Part 17: Checking for random characters in 'Sales_Rep'

invalid_sales_rep = df[~df['Sales_Rep'].str.match(r'^[A-Za-z\s]+$', na=False)]
print(f"Sales Rep with random characters:\n{invalid_sales_rep}")

Sales Rep with random characters:
     Order_ID Customer_Name   State       City      Product  Quantity  \
0         NaN           NaN  Calif#       vlhG  nxJlrLVa123      -9.0
1     55834.0           NaN     NaN        xIk        iWCYv       NaN
2         NaN         quckz  Calif#    BqRoG!!    iLqNmM123      -9.0
3         NaN      John#Doe      Zz    JUqSAP@  oLUIHFfA         38.0
4     -2033.0       123John      jU      mppXi   EYBoNPS123       NaN
..        ...           ...     ...        ...          ...       ...
995    -761.0           NaN      IL   WDrnCbXJ     pOBUv123       0.0
996       NaN    XihedmGYce  Calif#    FLwgP!!  JRlSMuTy123       0.0
997       NaN           NaN     NaN  USLnPoyD@   FPjbBxZFRI      50.0
998   -3723.0      John#Doe     NaN    kKVbQk@      LjMWnUN       NaN
999       NaN           NaN  Calif#   TdAfQV!!    dgbeFb          0.0

            Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
0               0          0.0     9/17/2021             NaN           5.14
1               0          0.0           NaN         Checque            NaN
2           350.2          NaN     6/23/2023            Cash            NaN
3          345.58          NaN     1/28/2021  Credit Payment            NaN
4               0       -100.0    11/22/2022  Credit Payment            NaN
..            ...          ...           ...             ...            ...
995  Not a number        475.0     9/10/2017           Debit            NaN
996             0          NaN     9/12/2021           Debit            NaN
997             0          0.0     7/22/2010            Cash            NaN
998        296.36          NaN     3/25/2020         Checque            NaN
999        690.17          NaN     2/17/2012           Debit            NaN

    Discount    Tax   Sales_Rep Order_Status Customer_ID        Country  \
0    Invalid  -5.00    QlCNs123     Unknown!      XvqFZW           U.S.
1      25.11    NaN  jkATAyk123     Returned    NotValid  United States
2        NaN  -5.00   aGhtJWWn#     Unknown!      KVVDsM           U.S.
3      18.74    NaN     BprRml@    Cancelled    NotValid  United States
4      13.07    NaN   YgxXnx123      Pending         Oio            123
..       ...    ...         ...          ...         ...            ...
995    -2.73    NaN  PQmSgCA123      Pending      GEvdQk            123
996  Invalid  12.84     QQiKoP#     Returned      FAdpMz           U.S.
997    -7.74    NaN      okkRH#      Pending      XBsfGP  United States
998  Invalid  13.80  DbloErg123     Unknown!      123456           U.S.
999    36.99    NaN    TblbUhh#    Cancelled    NotValid            NaN

    Phone_Number            Email  Delivery_Time
0            NaN              NaN  Not available
1            NaN          noemail             39
2            NaN              NaN  Not available
3       12345678  eAOenzoZc@yahoo        Missing
4            NaN          noemail  Not available
..           ...              ...            ...
995   8988717670          noemail             77
996   Invalid123          noemail             67
997   Invalid123        czFWSGlaC             41
998     12345678         eOAItVcH  Not available
999     12345678          noemail  Not available

[1000 rows x 20 columns]

In [20]:
# Part 18: Checking for empty 'Order_Status'

missing_order_status = df[df['Order_Status'].isnull() | (df['Order_Status'] == '')]
print(f"Missing order status:\n{missing_order_status}")

Missing order status:
     Order_ID         Customer_Name   State       City      Product  Quantity  \
19    -9574.0              John#Doe     NaN      ShwOV  dHMumVPK          NaN
20    -7873.0               NQbXJQS  Calif#        Aup    zZUtpz123       0.0
31    -7295.0               123John     NaN       CiXt  HskQIxoI123       9.0
32        NaN  RZxNCVLksKYuTujMuSWj      IL      dVvv@        akENO       6.0
33        NaN  OJlMvUOwzIyEGYuNoOZj      NY     YtAnV@    jfkUNE123       NaN
..        ...                   ...     ...        ...          ...       ...
959   58087.0               123John     NaN    JgLByv@      wRERBAi       0.0
963   83672.0                   NaN  Calif#      BAd!!    vwilEo123      48.0
975   -4473.0  VSBUNyJkCzbUKjBPNKnq      MI  LOhcbcoy@     EiKCnsHr       0.0
976   -3403.0               123John  Calif#      vAHdZ   AbwGKvk         38.0
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@  RvhhGDuZ123       NaN

            Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
19         736.18         0.00      4/8/2022  Credit Payment            NaN
20   Not a number         0.00     3/22/2020           Debit         -4.709
31              0       366.00           NaN         Checque            NaN
32         770.72      4624.32      9/5/2019         Checque            NaN
33   Not a number          NaN           NaN            Cash          4.209
..            ...          ...           ...             ...            ...
959  Not a number          NaN    11/17/2020             NaN            NaN
963  Not a number         0.00     3/26/2010  Credit Payment         91.562
975  Not a number        68.00      5/8/2022           Debit            NaN
976  Not a number          NaN     5/25/2022  Credit Payment            NaN
994        790.43       358.00           NaN             NaN            NaN

    Discount   Tax    Sales_Rep Order_Status Customer_ID        Country  \
19       NaN -1.87    VqHuQI123          NaN      GvlSFP           U.S.
20       NaN -1.82      GCUOVH@          NaN      QQjQUb            NaN
31   Invalid   NaN       zdcsA#          NaN      123456           U.S.
32   Invalid  6.54   FKqGmzi123          NaN         Ehs  United States
33     -9.13 -5.00      sYFqNX@          NaN      RcRCrl           U.S.
..       ...   ...          ...          ...         ...            ...
959      NaN  8.90    QlHfemiK#          NaN      123456            123
963      NaN -5.00    WQqycakh#          NaN         gTp           U.S.
975      NaN -5.00       RTPLP#          NaN         Fcz            NaN
976  Invalid   NaN  ksmKtyHG123          NaN      qhbdYZ            NaN
994      NaN -5.00      xYDHTt@          NaN      123456            123

    Phone_Number              Email  Delivery_Time
19    5365741167            noemail             44
20    Invalid123            noemail  Not available
31           NaN                NaN        Missing
32      12345678     sAuXxWLy@yahoo             50
33    Invalid123            noemail             78
..           ...                ...            ...
959   Invalid123            noemail        Missing
963    195870666                NaN             48
975          NaN                NaN             12
976   Invalid123  PkDUGtj@gmail.com  Not available
994          NaN                NaN        Missing

[161 rows x 20 columns]

In [21]:
# Part 19: Checking for inconsistent country names

inconsistent_countries = df[~df['Country'].isin(['United States', 'USA', 'U.S.'])]
print(f"Inconsistent country names:\n{inconsistent_countries}")

Inconsistent country names:
     Order_ID         Customer_Name   State       City        Product  \
4     -2033.0               123John      jU      mppXi     EYBoNPS123
7     14840.0               peYofjf     NaN    hLsTB!!       YVpzv123
15    -6794.0              John#Doe  Calif#    rOPJL!!     BATFJfqjmQ
16    71451.0               123John      NC   HmaAuNW@   AJjQDYYeS123
17        NaN  fmkGpMQxBnIxmJoPpiyu      AZ   rjajLVtp       yVLtk123
..        ...                   ...     ...        ...            ...
991   -9744.0                   NaN      mz  qesubyCr@  yNSYvZltFY
992    -564.0               123John     NaN    tuJSws@      vdrBUG
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@    RvhhGDuZ123
995    -761.0                   NaN      IL   WDrnCbXJ       pOBUv123
999       NaN                   NaN  Calif#   TdAfQV!!      dgbeFb

     Quantity         Price  Total_Sales Purchase_Date  Payment_Method  \
4         NaN             0       -100.0    11/22/2022  Credit Payment
7         0.0             0          0.0      5/1/2015            Cash
15       15.0             0          NaN     1/17/2024            Cash
16        0.0        112.08          NaN           NaN            Cash
17        NaN             0          NaN      4/5/2017  Credit Payment
..        ...           ...          ...           ...             ...
991       8.0             0        165.0     8/24/2012           Debit
992       NaN  Not a number          NaN      8/1/2017  Credit Payment
994       NaN        790.43        358.0           NaN             NaN
995       0.0  Not a number        475.0     9/10/2017           Debit
999       0.0        690.17          NaN     2/17/2012           Debit

     Shipping_Cost Discount   Tax    Sales_Rep Order_Status Customer_ID  \
4              NaN    13.07   NaN    YgxXnx123      Pending         Oio
7              NaN      NaN -5.00       ZsUms#     Unknown!      nbrzRe
15          37.528      NaN  8.01      rsvdHS#    Completed         mwq
16          69.390      NaN -0.38      NggNWw@    Cancelled         lBp
17             NaN  Invalid -5.00      lwBLyj#    Cancelled      123456
..             ...      ...   ...          ...          ...         ...
991            NaN  Invalid   NaN       iMfXH#     Returned         Vmp
992            NaN  Invalid -0.66  GIvTIwcM123    Completed      AdwmCC
994            NaN      NaN -5.00      xYDHTt@          NaN      123456
995            NaN    -2.73   NaN   PQmSgCA123      Pending      GEvdQk
999            NaN    36.99   NaN     TblbUhh#    Cancelled    NotValid

    Country Phone_Number    Email  Delivery_Time
4       123          NaN  noemail  Not available
7       123   Invalid123      NaN  Not available
15      123   Invalid123      NaN             32
16      123     12345678      NaN             69
17      NaN     12345678  noemail             68
..      ...          ...      ...            ...
991     NaN   6660349446      NaN        Missing
992     NaN     12345678  noemail             52
994     123          NaN      NaN        Missing
995     123   8988717670  noemail             77
999     NaN     12345678  noemail  Not available

[441 rows x 20 columns]

In [22]:
# Part 20: Checking for incorrect phone number formatting

incorrect_phone_numbers = df[~df['Phone_Number'].str.match(r'^\d{10}$', na=False)]
print(f"Incorrect phone numbers:\n{incorrect_phone_numbers}")

Incorrect phone numbers:
     Order_ID         Customer_Name   State       City      Product  Quantity  \
0         NaN                   NaN  Calif#       vlhG  nxJlrLVa123      -9.0
1     55834.0                   NaN     NaN        xIk        iWCYv       NaN
2         NaN                 quckz  Calif#    BqRoG!!    iLqNmM123      -9.0
3         NaN              John#Doe      Zz    JUqSAP@  oLUIHFfA         38.0
4     -2033.0               123John      jU      mppXi   EYBoNPS123       NaN
..        ...                   ...     ...        ...          ...       ...
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@  RvhhGDuZ123       NaN
996       NaN            XihedmGYce  Calif#    FLwgP!!  JRlSMuTy123       0.0
997       NaN                   NaN     NaN  USLnPoyD@   FPjbBxZFRI      50.0
998   -3723.0              John#Doe     NaN    kKVbQk@      LjMWnUN       NaN
999       NaN                   NaN  Calif#   TdAfQV!!    dgbeFb          0.0

      Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
0         0          0.0     9/17/2021             NaN           5.14
1         0          0.0           NaN         Checque            NaN
2     350.2          NaN     6/23/2023            Cash            NaN
3    345.58          NaN     1/28/2021  Credit Payment            NaN
4         0       -100.0    11/22/2022  Credit Payment            NaN
..      ...          ...           ...             ...            ...
994  790.43        358.0           NaN             NaN            NaN
996       0          NaN     9/12/2021           Debit            NaN
997       0          0.0     7/22/2010            Cash            NaN
998  296.36          NaN     3/25/2020         Checque            NaN
999  690.17          NaN     2/17/2012           Debit            NaN

    Discount    Tax   Sales_Rep Order_Status Customer_ID        Country  \
0    Invalid  -5.00    QlCNs123     Unknown!      XvqFZW           U.S.
1      25.11    NaN  jkATAyk123     Returned    NotValid  United States
2        NaN  -5.00   aGhtJWWn#     Unknown!      KVVDsM           U.S.
3      18.74    NaN     BprRml@    Cancelled    NotValid  United States
4      13.07    NaN   YgxXnx123      Pending         Oio            123
..       ...    ...         ...          ...         ...            ...
994      NaN  -5.00     xYDHTt@          NaN      123456            123
996  Invalid  12.84     QQiKoP#     Returned      FAdpMz           U.S.
997    -7.74    NaN      okkRH#      Pending      XBsfGP  United States
998  Invalid  13.80  DbloErg123     Unknown!      123456           U.S.
999    36.99    NaN    TblbUhh#    Cancelled    NotValid            NaN

    Phone_Number            Email  Delivery_Time
0            NaN              NaN  Not available
1            NaN          noemail             39
2            NaN              NaN  Not available
3       12345678  eAOenzoZc@yahoo        Missing
4            NaN          noemail  Not available
..           ...              ...            ...
994          NaN              NaN        Missing
996   Invalid123          noemail             67
997   Invalid123        czFWSGlaC             41
998     12345678         eOAItVcH  Not available
999     12345678          noemail  Not available

[784 rows x 20 columns]

In [23]:
# Part 21: Checking for missing email domain (e.g., missing '@gmail.com')

missing_email_domain = df[~df['Email'].str.contains(r'@[a-z]+\.[a-z]+', na=False)]
print(f"Emails with missing domain:\n{missing_email_domain}")

Emails with missing domain:
     Order_ID Customer_Name   State       City      Product  Quantity  \
0         NaN           NaN  Calif#       vlhG  nxJlrLVa123      -9.0
1     55834.0           NaN     NaN        xIk        iWCYv       NaN
2         NaN         quckz  Calif#    BqRoG!!    iLqNmM123      -9.0
3         NaN      John#Doe      Zz    JUqSAP@  oLUIHFfA         38.0
4     -2033.0       123John      jU      mppXi   EYBoNPS123       NaN
..        ...           ...     ...        ...          ...       ...
995    -761.0           NaN      IL   WDrnCbXJ     pOBUv123       0.0
996       NaN    XihedmGYce  Calif#    FLwgP!!  JRlSMuTy123       0.0
997       NaN           NaN     NaN  USLnPoyD@   FPjbBxZFRI      50.0
998   -3723.0      John#Doe     NaN    kKVbQk@      LjMWnUN       NaN
999       NaN           NaN  Calif#   TdAfQV!!    dgbeFb          0.0

            Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
0               0          0.0     9/17/2021             NaN           5.14
1               0          0.0           NaN         Checque            NaN
2           350.2          NaN     6/23/2023            Cash            NaN
3          345.58          NaN     1/28/2021  Credit Payment            NaN
4               0       -100.0    11/22/2022  Credit Payment            NaN
..            ...          ...           ...             ...            ...
995  Not a number        475.0     9/10/2017           Debit            NaN
996             0          NaN     9/12/2021           Debit            NaN
997             0          0.0     7/22/2010            Cash            NaN
998        296.36          NaN     3/25/2020         Checque            NaN
999        690.17          NaN     2/17/2012           Debit            NaN

    Discount    Tax   Sales_Rep Order_Status Customer_ID        Country  \
0    Invalid  -5.00    QlCNs123     Unknown!      XvqFZW           U.S.
1      25.11    NaN  jkATAyk123     Returned    NotValid  United States
2        NaN  -5.00   aGhtJWWn#     Unknown!      KVVDsM           U.S.
3      18.74    NaN     BprRml@    Cancelled    NotValid  United States
4      13.07    NaN   YgxXnx123      Pending         Oio            123
..       ...    ...         ...          ...         ...            ...
995    -2.73    NaN  PQmSgCA123      Pending      GEvdQk            123
996  Invalid  12.84     QQiKoP#     Returned      FAdpMz           U.S.
997    -7.74    NaN      okkRH#      Pending      XBsfGP  United States
998  Invalid  13.80  DbloErg123     Unknown!      123456           U.S.
999    36.99    NaN    TblbUhh#    Cancelled    NotValid            NaN

    Phone_Number            Email  Delivery_Time
0            NaN              NaN  Not available
1            NaN          noemail             39
2            NaN              NaN  Not available
3       12345678  eAOenzoZc@yahoo        Missing
4            NaN          noemail  Not available
..           ...              ...            ...
995   8988717670          noemail             77
996   Invalid123          noemail             67
997   Invalid123        czFWSGlaC             41
998     12345678         eOAItVcH  Not available
999     12345678          noemail  Not available

[928 rows x 20 columns]

In [24]:
# Part 22: Checking for inconsistent 'Delivery_Time' values (random text)

invalid_delivery_time = df[pd.to_numeric(df['Delivery_Time'], errors='coerce').isnull()]
print(f"Inconsistent Delivery Time values:\n{invalid_delivery_time}")

Inconsistent Delivery Time values:
     Order_ID         Customer_Name   State       City        Product  \
0         NaN                   NaN  Calif#       vlhG    nxJlrLVa123
2         NaN                 quckz  Calif#    BqRoG!!      iLqNmM123
3         NaN              John#Doe      Zz    JUqSAP@    oLUIHFfA
4     -2033.0               123John      jU      mppXi     EYBoNPS123
5         NaN              John#Doe  Calif#     vuiCr@      TaixLE
..        ...                   ...     ...        ...            ...
990       NaN              fKgtefMz     NaN    lePzRO@      JVfkfKBQA
991   -9744.0                   NaN      mz  qesubyCr@  yNSYvZltFY
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@    RvhhGDuZ123
998   -3723.0              John#Doe     NaN    kKVbQk@        LjMWnUN
999       NaN                   NaN  Calif#   TdAfQV!!      dgbeFb

     Quantity         Price  Total_Sales Purchase_Date  Payment_Method  \
0        -9.0             0          0.0     9/17/2021             NaN
2        -9.0         350.2          NaN     6/23/2023            Cash
3        38.0        345.58          NaN     1/28/2021  Credit Payment
4         NaN             0       -100.0    11/22/2022  Credit Payment
5         0.0  Not a number          NaN           NaN         Checque
..        ...           ...          ...           ...             ...
990       0.0  Not a number          NaN           NaN           Debit
991       8.0             0        165.0     8/24/2012           Debit
994       NaN        790.43        358.0           NaN             NaN
998       NaN        296.36          NaN     3/25/2020         Checque
999       0.0        690.17          NaN     2/17/2012           Debit

     Shipping_Cost Discount    Tax   Sales_Rep Order_Status Customer_ID  \
0             5.14  Invalid  -5.00    QlCNs123     Unknown!      XvqFZW
2              NaN      NaN  -5.00   aGhtJWWn#     Unknown!      KVVDsM
3              NaN    18.74    NaN     BprRml@    Cancelled    NotValid
4              NaN    13.07    NaN   YgxXnx123      Pending         Oio
5              NaN    28.98   6.32    TBhRXVc#     Returned      123456
..             ...      ...    ...         ...          ...         ...
990            NaN      NaN  10.20      AScgX#      Pending         fjp
991            NaN  Invalid    NaN      iMfXH#     Returned         Vmp
994            NaN      NaN  -5.00     xYDHTt@          NaN      123456
998            NaN  Invalid  13.80  DbloErg123     Unknown!      123456
999            NaN    36.99    NaN    TblbUhh#    Cancelled    NotValid

           Country Phone_Number            Email  Delivery_Time
0             U.S.          NaN              NaN  Not available
2             U.S.          NaN              NaN  Not available
3    United States     12345678  eAOenzoZc@yahoo        Missing
4              123          NaN          noemail  Not available
5             U.S.          NaN          noemail  Not available
..             ...          ...              ...            ...
990  United States     12345678          noemail  Not available
991            NaN   6660349446              NaN        Missing
994            123          NaN              NaN        Missing
998           U.S.     12345678         eOAItVcH  Not available
999            NaN     12345678          noemail  Not available

[518 rows x 20 columns]

In [25]:
# Part 23: Checking for very long customer names

long_customer_names = df[df['Customer_Name'].apply(lambda x: len(str(x)) > 20)]
print(f"Very long customer names:\n{long_customer_names}")

Very long customer names:
Empty DataFrame
Columns: [Order_ID, Customer_Name, State, City, Product, Quantity, Price, Total_Sales, Purchase_Date, Payment_Method, Shipping_Cost, Discount, Tax, Sales_Rep, Order_Status, Customer_ID, Country, Phone_Number, Email, Delivery_Time]
Index: []

In [26]:
# Part 24: Checking for extra spaces in product names

extra_spaces_products = df[df['Product'].str.contains(r'^\s|\s$', na=False)]
print(f"Product names with extra spaces:\n{extra_spaces_products}")

Product names with extra spaces:
     Order_ID         Customer_Name   State       City        Product  \
3         NaN              John#Doe      Zz    JUqSAP@    oLUIHFfA
5         NaN              John#Doe  Calif#     vuiCr@      TaixLE
6         NaN                   NaN  Calif#    mOLPl!!   krQcsBBTL
10    81519.0             xMwbJYKQB     NaN        pIl  VgmchppGTF
19    -9574.0              John#Doe     NaN      ShwOV    dHMumVPK
..        ...                   ...     ...        ...            ...
986       NaN              John#Doe      Hm   HfQAXwJ@  vBiQNeEyHp
987       NaN  wFIjrNTWdywdGVDKzqEb      GA     QLeULO      VbeJZv
991   -9744.0                   NaN      mz  qesubyCr@  yNSYvZltFY
992    -564.0               123John     NaN    tuJSws@      vdrBUG
999       NaN                   NaN  Calif#   TdAfQV!!      dgbeFb

     Quantity         Price  Total_Sales Purchase_Date  Payment_Method  \
3        38.0        345.58          NaN     1/28/2021  Credit Payment
5         0.0  Not a number          NaN           NaN         Checque
6         0.0        589.89       -100.0      3/9/2021           Debit
10       12.0             0          0.0     7/18/2017         Checque
19        NaN        736.18          0.0      4/8/2022  Credit Payment
..        ...           ...          ...           ...             ...
986       NaN             0          0.0     5/15/2023             NaN
987       NaN        703.42       -100.0      3/3/2023         Checque
991       8.0             0        165.0     8/24/2012           Debit
992       NaN  Not a number          NaN      8/1/2017  Credit Payment
999       0.0        690.17          NaN     2/17/2012           Debit

     Shipping_Cost Discount   Tax    Sales_Rep Order_Status Customer_ID  \
3              NaN    18.74   NaN      BprRml@    Cancelled    NotValid
5              NaN    28.98  6.32     TBhRXVc#     Returned      123456
6              NaN  Invalid   NaN  WwAguYBR123     Returned      fRFzDU
10           7.858     4.62 -5.00    jWTuyV123    Completed      ybFLZZ
19             NaN      NaN -1.87    VqHuQI123          NaN      GvlSFP
..             ...      ...   ...          ...          ...         ...
986         31.126      NaN -1.18    qSwJjhKX#      Pending         FrI
987            NaN     2.52 -3.24     xKVki123     Returned      123456
991            NaN  Invalid   NaN       iMfXH#     Returned         Vmp
992            NaN  Invalid -0.66  GIvTIwcM123    Completed      AdwmCC
999            NaN    36.99   NaN     TblbUhh#    Cancelled    NotValid

           Country Phone_Number              Email  Delivery_Time
3    United States     12345678    eAOenzoZc@yahoo        Missing
5             U.S.          NaN            noemail  Not available
6             U.S.          NaN            noemail        Missing
10   United States   Invalid123  ghpVpRv@gmail.com             67
19            U.S.   5365741167            noemail             44
..             ...          ...                ...            ...
986           U.S.     12345678      dpONK@hotmail             37
987           U.S.     12345678            noemail             71
991            NaN   6660349446                NaN        Missing
992            NaN     12345678            noemail             52
999            NaN     12345678            noemail  Not available

[323 rows x 20 columns]

In [27]:
# Part 25: Checking for duplicated 'Order_ID' values

duplicate_order_ids = df[df.duplicated('Order_ID', keep=False)]
print(f"Duplicated Order IDs:\n{duplicate_order_ids}")

Duplicated Order IDs:
     Order_ID         Customer_Name   State       City       Product  \
0         NaN                   NaN  Calif#       vlhG   nxJlrLVa123
2         NaN                 quckz  Calif#    BqRoG!!     iLqNmM123
3         NaN              John#Doe      Zz    JUqSAP@   oLUIHFfA
5         NaN              John#Doe  Calif#     vuiCr@     TaixLE
6         NaN                   NaN  Calif#    mOLPl!!  krQcsBBTL
..        ...                   ...     ...        ...           ...
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@   RvhhGDuZ123
996       NaN            XihedmGYce  Calif#    FLwgP!!   JRlSMuTy123
997       NaN                   NaN     NaN  USLnPoyD@    FPjbBxZFRI
998   -3723.0              John#Doe     NaN    kKVbQk@       LjMWnUN
999       NaN                   NaN  Calif#   TdAfQV!!     dgbeFb

     Quantity         Price  Total_Sales Purchase_Date  Payment_Method  \
0        -9.0             0          0.0     9/17/2021             NaN
2        -9.0         350.2          NaN     6/23/2023            Cash
3        38.0        345.58          NaN     1/28/2021  Credit Payment
5         0.0  Not a number          NaN           NaN         Checque
6         0.0        589.89       -100.0      3/9/2021           Debit
..        ...           ...          ...           ...             ...
994       NaN        790.43        358.0           NaN             NaN
996       0.0             0          NaN     9/12/2021           Debit
997      50.0             0          0.0     7/22/2010            Cash
998       NaN        296.36          NaN     3/25/2020         Checque
999       0.0        690.17          NaN     2/17/2012           Debit

     Shipping_Cost Discount    Tax    Sales_Rep Order_Status Customer_ID  \
0             5.14  Invalid  -5.00     QlCNs123     Unknown!      XvqFZW
2              NaN      NaN  -5.00    aGhtJWWn#     Unknown!      KVVDsM
3              NaN    18.74    NaN      BprRml@    Cancelled    NotValid
5              NaN    28.98   6.32     TBhRXVc#     Returned      123456
6              NaN  Invalid    NaN  WwAguYBR123     Returned      fRFzDU
..             ...      ...    ...          ...          ...         ...
994            NaN      NaN  -5.00      xYDHTt@          NaN      123456
996            NaN  Invalid  12.84      QQiKoP#     Returned      FAdpMz
997            NaN    -7.74    NaN       okkRH#      Pending      XBsfGP
998            NaN  Invalid  13.80   DbloErg123     Unknown!      123456
999            NaN    36.99    NaN     TblbUhh#    Cancelled    NotValid

           Country Phone_Number            Email  Delivery_Time
0             U.S.          NaN              NaN  Not available
2             U.S.          NaN              NaN  Not available
3    United States     12345678  eAOenzoZc@yahoo        Missing
5             U.S.          NaN          noemail  Not available
6             U.S.          NaN          noemail        Missing
..             ...          ...              ...            ...
994            123          NaN              NaN        Missing
996           U.S.   Invalid123          noemail             67
997  United States   Invalid123        czFWSGlaC             41
998           U.S.     12345678         eOAItVcH  Not available
999            NaN     12345678          noemail  Not available

[505 rows x 20 columns]

In [28]:
# Part 26: Checking for negative 'Order_ID' values

negative_order_ids = df[df['Order_ID'] < 0]
print(f"Negative Order IDs:\n{negative_order_ids}")

Negative Order IDs:
     Order_ID Customer_Name   State       City        Product  Quantity  \
4     -2033.0       123John      jU      mppXi     EYBoNPS123       NaN
8     -8164.0      John#Doe     NaN    RDoGEGv     MHUjKGc123      14.0
15    -6794.0      John#Doe  Calif#    rOPJL!!     BATFJfqjmQ      15.0
19    -9574.0      John#Doe     NaN      ShwOV    dHMumVPK          NaN
20    -7873.0       NQbXJQS  Calif#        Aup      zZUtpz123       0.0
..        ...           ...     ...        ...            ...       ...
983   -4932.0      John#Doe     NaN  wWEpnxx!!     HMjnlaadAu       0.0
991   -9744.0           NaN      mz  qesubyCr@  yNSYvZltFY          8.0
992    -564.0       123John     NaN    tuJSws@      vdrBUG          NaN
995    -761.0           NaN      IL   WDrnCbXJ       pOBUv123       0.0
998   -3723.0      John#Doe     NaN    kKVbQk@        LjMWnUN       NaN

            Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
4               0       -100.0    11/22/2022  Credit Payment            NaN
8    Not a number       -100.0      6/1/2024           Debit            NaN
15              0          NaN     1/17/2024            Cash         37.528
19         736.18          0.0      4/8/2022  Credit Payment            NaN
20   Not a number          0.0     3/22/2020           Debit         -4.709
..            ...          ...           ...             ...            ...
983  Not a number          0.0           NaN            Cash            NaN
991             0        165.0     8/24/2012           Debit            NaN
992  Not a number          NaN      8/1/2017  Credit Payment            NaN
995  Not a number        475.0     9/10/2017           Debit            NaN
998        296.36          NaN     3/25/2020         Checque            NaN

    Discount    Tax    Sales_Rep Order_Status Customer_ID Country  \
4      13.07    NaN    YgxXnx123      Pending         Oio     123
8    Invalid  19.59    bSXCWj123     Unknown!         XcA    U.S.
15       NaN   8.01      rsvdHS#    Completed         mwq     123
19       NaN  -1.87    VqHuQI123          NaN      GvlSFP    U.S.
20       NaN  -1.82      GCUOVH@          NaN      QQjQUb     NaN
..       ...    ...          ...          ...         ...     ...
983  Invalid    NaN    hTrwlWOm@     Returned         VpH     123
991  Invalid    NaN       iMfXH#     Returned         Vmp     NaN
992  Invalid  -0.66  GIvTIwcM123    Completed      AdwmCC     NaN
995    -2.73    NaN   PQmSgCA123      Pending      GEvdQk     123
998  Invalid  13.80   DbloErg123     Unknown!      123456    U.S.

    Phone_Number           Email  Delivery_Time
4            NaN         noemail  Not available
8       12345678         noemail             30
15    Invalid123             NaN             32
19    5365741167         noemail             44
20    Invalid123         noemail  Not available
..           ...             ...            ...
983   Invalid123  BOltQc@hotmail  Not available
991   6660349446             NaN        Missing
992     12345678         noemail             52
995   8988717670         noemail             77
998     12345678        eOAItVcH  Not available

[245 rows x 20 columns]

In [29]:
# Part 27: Example of checking for specific conditions in the dataset

# First, ensure that 'Price' is a numeric type
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

# Checking for 'Price' greater than 1000
high_price_count = df[df['Price'] > 1000].shape[0]
print(f"Count of products with Price greater than 1000: {high_price_count}")

Count of products with Price greater than 1000: 0

In [30]:
# Part 28: Checking for 'Price' values of zero but non-zero 'Total_Sales'

zero_price_nonzero_sales = df[(df['Price'] == 0) & (df['Total_Sales'] != 0)]
print(f"Zero price but non-zero total sales:\n{zero_price_nonzero_sales}")

Zero price but non-zero total sales:
     Order_ID         Customer_Name   State       City        Product  \
4     -2033.0               123John      jU      mppXi     EYBoNPS123
9     93428.0                   NaN  Calif#    yUudpqw       wxwoP123
15    -6794.0              John#Doe  Calif#    rOPJL!!     BATFJfqjmQ
17        NaN  fmkGpMQxBnIxmJoPpiyu      AZ   rjajLVtp       yVLtk123
25        NaN               123John      qg    fdXGjF@     MPaBBGmLdN
..        ...                   ...     ...        ...            ...
972       NaN               123John     NaN  AxqGAXv!!    RLxGfhzm123
977       NaN  QOcFvCBRzvWITAGSJmxv  Calif#       lDYn  BRJfQAujXv
991   -9744.0                   NaN      mz  qesubyCr@  yNSYvZltFY
993       NaN               123John      Cn   XwTSLOpO       KcoDu123
996       NaN            XihedmGYce  Calif#    FLwgP!!    JRlSMuTy123

     Quantity  Price  Total_Sales Purchase_Date  Payment_Method  \
4         NaN    0.0       -100.0    11/22/2022  Credit Payment
9         NaN    0.0          NaN      7/7/2023           Debit
15       15.0    0.0          NaN     1/17/2024            Cash
17        NaN    0.0          NaN      4/5/2017  Credit Payment
25        NaN    0.0          NaN      7/4/2011             NaN
..        ...    ...          ...           ...             ...
972       NaN    0.0          NaN     9/17/2021           Debit
977       NaN    0.0          NaN           NaN            Cash
991       8.0    0.0        165.0     8/24/2012           Debit
993      16.0    0.0        569.0           NaN  Credit Payment
996       0.0    0.0          NaN     9/12/2021           Debit

     Shipping_Cost Discount    Tax   Sales_Rep Order_Status Customer_ID  \
4              NaN    13.07    NaN   YgxXnx123      Pending         Oio
9           38.769  Invalid  -5.00   tUUSme123    Cancelled         ZmV
15          37.528      NaN   8.01     rsvdHS#    Completed         mwq
17             NaN  Invalid  -5.00     lwBLyj#    Cancelled      123456
25             NaN     -3.7  -5.00     ghdOEU#     Unknown!    NotValid
..             ...      ...    ...         ...          ...         ...
972            NaN  Invalid    NaN  pXbAkvW123    Cancelled      tuJnje
977            NaN     12.7  -2.08      znSrB@     Unknown!      JFauaB
991            NaN  Invalid    NaN      iMfXH#     Returned         Vmp
993            NaN    16.58  -5.00     XYVenX@      Pending      ngHDRR
996            NaN  Invalid  12.84     QQiKoP#     Returned      FAdpMz

           Country Phone_Number           Email  Delivery_Time
4              123          NaN         noemail  Not available
9    United States          NaN  eLsUdt@hotmail        Missing
15             123   Invalid123             NaN             32
17             NaN     12345678         noemail             68
25             USA     12345678             NaN             -9
..             ...          ...             ...            ...
972  United States     12345678             NaN        Missing
977            NaN   4823641930             NaN        Missing
991            NaN   6660349446             NaN        Missing
993  United States          NaN         noemail             66
996           U.S.   Invalid123         noemail             67

[219 rows x 20 columns]

In [31]:
# Part 29: Checking for non-numeric 'Customer_ID'

non_numeric_customer_id = df[pd.to_numeric(df['Customer_ID'], errors='coerce').isnull()]
print(f"Non-numeric Customer IDs:\n{non_numeric_customer_id}")

Non-numeric Customer IDs:
     Order_ID Customer_Name   State       City      Product  Quantity   Price  \
0         NaN           NaN  Calif#       vlhG  nxJlrLVa123      -9.0    0.00
1     55834.0           NaN     NaN        xIk        iWCYv       NaN    0.00
2         NaN         quckz  Calif#    BqRoG!!    iLqNmM123      -9.0  350.20
3         NaN      John#Doe      Zz    JUqSAP@  oLUIHFfA         38.0  345.58
4     -2033.0       123John      jU      mppXi   EYBoNPS123       NaN    0.00
..        ...           ...     ...        ...          ...       ...     ...
993       NaN       123John      Cn   XwTSLOpO     KcoDu123      16.0    0.00
995    -761.0           NaN      IL   WDrnCbXJ     pOBUv123       0.0     NaN
996       NaN    XihedmGYce  Calif#    FLwgP!!  JRlSMuTy123       0.0    0.00
997       NaN           NaN     NaN  USLnPoyD@   FPjbBxZFRI      50.0    0.00
999       NaN           NaN  Calif#   TdAfQV!!    dgbeFb          0.0  690.17

     Total_Sales Purchase_Date  Payment_Method  Shipping_Cost Discount    Tax  \
0            0.0     9/17/2021             NaN           5.14  Invalid  -5.00
1            0.0           NaN         Checque            NaN    25.11    NaN
2            NaN     6/23/2023            Cash            NaN      NaN  -5.00
3            NaN     1/28/2021  Credit Payment            NaN    18.74    NaN
4         -100.0    11/22/2022  Credit Payment            NaN    13.07    NaN
..           ...           ...             ...            ...      ...    ...
993        569.0           NaN  Credit Payment            NaN    16.58  -5.00
995        475.0     9/10/2017           Debit            NaN    -2.73    NaN
996          NaN     9/12/2021           Debit            NaN  Invalid  12.84
997          0.0     7/22/2010            Cash            NaN    -7.74    NaN
999          NaN     2/17/2012           Debit            NaN    36.99    NaN

      Sales_Rep Order_Status Customer_ID        Country Phone_Number  \
0      QlCNs123     Unknown!      XvqFZW           U.S.          NaN
1    jkATAyk123     Returned    NotValid  United States          NaN
2     aGhtJWWn#     Unknown!      KVVDsM           U.S.          NaN
3       BprRml@    Cancelled    NotValid  United States     12345678
4     YgxXnx123      Pending         Oio            123          NaN
..          ...          ...         ...            ...          ...
993     XYVenX@      Pending      ngHDRR  United States          NaN
995  PQmSgCA123      Pending      GEvdQk            123   8988717670
996     QQiKoP#     Returned      FAdpMz           U.S.   Invalid123
997      okkRH#      Pending      XBsfGP  United States   Invalid123
999    TblbUhh#    Cancelled    NotValid            NaN     12345678

               Email  Delivery_Time
0                NaN  Not available
1            noemail             39
2                NaN  Not available
3    eAOenzoZc@yahoo        Missing
4            noemail  Not available
..               ...            ...
993          noemail             66
995          noemail             77
996          noemail             67
997        czFWSGlaC             41
999          noemail  Not available

[742 rows x 20 columns]

In [32]:
# Part 30: Checking for mixed data types in 'Price'

non_numeric_price = df[pd.to_numeric(df['Price'], errors='coerce').isnull()]
print(f"Non-numeric Price values:\n{non_numeric_price}")

Non-numeric Price values:
     Order_ID Customer_Name   State      City       Product  Quantity  Price  \
5         NaN      John#Doe  Calif#    vuiCr@     TaixLE          0.0    NaN
8     -8164.0      John#Doe     NaN   RDoGEGv    MHUjKGc123      14.0    NaN
11        NaN        EtonLr      tk     oHVmU  agIdHeErd123       0.0    NaN
13        NaN           NaN     NaN    HWPMrs    JWWeNooCOi       NaN    NaN
14    36373.0        Rmuhfq  Calif#   clJQu!!        nGbypg      -9.0    NaN
..        ...           ...     ...       ...           ...       ...    ...
985       NaN      John#Doe      PA    oQnnA@    oOohQDWdvg       NaN    NaN
988       NaN      John#Doe  Calif#     TaEB@     xVBQkK123       NaN    NaN
990       NaN      fKgtefMz     NaN   lePzRO@     JVfkfKBQA       0.0    NaN
992    -564.0       123John     NaN   tuJSws@     vdrBUG          NaN    NaN
995    -761.0           NaN      IL  WDrnCbXJ      pOBUv123       0.0    NaN

     Total_Sales Purchase_Date  Payment_Method  Shipping_Cost Discount    Tax  \
5            NaN           NaN         Checque            NaN    28.98   6.32
8         -100.0      6/1/2024           Debit            NaN  Invalid  19.59
11           NaN     8/28/2021           Debit         99.715    -27.7  -5.00
13           NaN     5/13/2021           Debit            NaN  Invalid  14.90
14           NaN     4/27/2024         Checque         83.404  Invalid  -4.53
..           ...           ...             ...            ...      ...    ...
985          NaN           NaN             NaN         46.858     1.38  -5.00
988       -100.0     5/11/2015             NaN         77.359  Invalid    NaN
990          NaN           NaN           Debit            NaN      NaN  10.20
992          NaN      8/1/2017  Credit Payment            NaN  Invalid  -0.66
995        475.0     9/10/2017           Debit            NaN    -2.73    NaN

       Sales_Rep Order_Status Customer_ID        Country Phone_Number  \
5       TBhRXVc#     Returned      123456           U.S.          NaN
8      bSXCWj123     Unknown!         XcA           U.S.     12345678
11       HNSXMY@    Cancelled         FKY            USA     12345678
13     TOBqUldx@     Returned    NotValid  United States   Invalid123
14        syXYU#     Unknown!         RMt            USA          NaN
..           ...          ...         ...            ...          ...
985      FtmBAn@    Cancelled      sUttoq  United States     12345678
988     NUnRIea@      Pending         upv  United States     12345678
990       AScgX#      Pending         fjp  United States     12345678
992  GIvTIwcM123    Completed      AdwmCC            NaN     12345678
995   PQmSgCA123      Pending      GEvdQk            123   8988717670

       Email  Delivery_Time
5    noemail  Not available
8    noemail             30
11       NaN             71
13       NaN             87
14       NaN             95
..       ...            ...
985  noemail             86
988      NaN        Missing
990  noemail  Not available
992  noemail             52
995  noemail             77

[349 rows x 20 columns]

In [33]:
# Part 31: Checking for missing 'Order_ID'

missing_order_id = df[df['Order_ID'].isnull() | (df['Order_ID'] == '')]
print(f"Missing Order IDs:\n{missing_order_id}")

Missing Order IDs:
     Order_ID         Customer_Name   State       City       Product  \
0         NaN                   NaN  Calif#       vlhG   nxJlrLVa123
2         NaN                 quckz  Calif#    BqRoG!!     iLqNmM123
3         NaN              John#Doe      Zz    JUqSAP@   oLUIHFfA
5         NaN              John#Doe  Calif#     vuiCr@     TaixLE
6         NaN                   NaN  Calif#    mOLPl!!  krQcsBBTL
..        ...                   ...     ...        ...           ...
993       NaN               123John      Cn   XwTSLOpO      KcoDu123
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@   RvhhGDuZ123
996       NaN            XihedmGYce  Calif#    FLwgP!!   JRlSMuTy123
997       NaN                   NaN     NaN  USLnPoyD@    FPjbBxZFRI
999       NaN                   NaN  Calif#   TdAfQV!!     dgbeFb

     Quantity   Price  Total_Sales Purchase_Date  Payment_Method  \
0        -9.0    0.00          0.0     9/17/2021             NaN
2        -9.0  350.20          NaN     6/23/2023            Cash
3        38.0  345.58          NaN     1/28/2021  Credit Payment
5         0.0     NaN          NaN           NaN         Checque
6         0.0  589.89       -100.0      3/9/2021           Debit
..        ...     ...          ...           ...             ...
993      16.0    0.00        569.0           NaN  Credit Payment
994       NaN  790.43        358.0           NaN             NaN
996       0.0    0.00          NaN     9/12/2021           Debit
997      50.0    0.00          0.0     7/22/2010            Cash
999       0.0  690.17          NaN     2/17/2012           Debit

     Shipping_Cost Discount    Tax    Sales_Rep Order_Status Customer_ID  \
0             5.14  Invalid  -5.00     QlCNs123     Unknown!      XvqFZW
2              NaN      NaN  -5.00    aGhtJWWn#     Unknown!      KVVDsM
3              NaN    18.74    NaN      BprRml@    Cancelled    NotValid
5              NaN    28.98   6.32     TBhRXVc#     Returned      123456
6              NaN  Invalid    NaN  WwAguYBR123     Returned      fRFzDU
..             ...      ...    ...          ...          ...         ...
993            NaN    16.58  -5.00      XYVenX@      Pending      ngHDRR
994            NaN      NaN  -5.00      xYDHTt@          NaN      123456
996            NaN  Invalid  12.84      QQiKoP#     Returned      FAdpMz
997            NaN    -7.74    NaN       okkRH#      Pending      XBsfGP
999            NaN    36.99    NaN     TblbUhh#    Cancelled    NotValid

           Country Phone_Number            Email  Delivery_Time
0             U.S.          NaN              NaN  Not available
2             U.S.          NaN              NaN  Not available
3    United States     12345678  eAOenzoZc@yahoo        Missing
5             U.S.          NaN          noemail  Not available
6             U.S.          NaN          noemail        Missing
..             ...          ...              ...            ...
993  United States          NaN          noemail             66
994            123          NaN              NaN        Missing
996           U.S.   Invalid123          noemail             67
997  United States   Invalid123        czFWSGlaC             41
999            NaN     12345678          noemail  Not available

[503 rows x 20 columns]

In [34]:
# Part 32: Checking for inconsistent 'Tax' percentages

inconsistent_tax_percentage = df[(df['Tax'] < 0) | (df['Tax'] > 20)]
print(f"Inconsistent Tax percentages:\n{inconsistent_tax_percentage}")

Inconsistent Tax percentages:
     Order_ID         Customer_Name   State      City        Product  \
0         NaN                   NaN  Calif#      vlhG    nxJlrLVa123
2         NaN                 quckz  Calif#   BqRoG!!      iLqNmM123
7     14840.0               peYofjf     NaN   hLsTB!!       YVpzv123
9     93428.0                   NaN  Calif#   yUudpqw       wxwoP123
10    81519.0             xMwbJYKQB     NaN       pIl  VgmchppGTF
..        ...                   ...     ...       ...            ...
986       NaN              John#Doe      Hm  HfQAXwJ@  vBiQNeEyHp
987       NaN  wFIjrNTWdywdGVDKzqEb      GA    QLeULO      VbeJZv
992    -564.0               123John     NaN   tuJSws@      vdrBUG
993       NaN               123John      Cn  XwTSLOpO       KcoDu123
994       NaN  infjvFHeooDgZewlUxMV     NaN     pmJf@    RvhhGDuZ123

     Quantity   Price  Total_Sales Purchase_Date  Payment_Method  \
0        -9.0    0.00          0.0     9/17/2021             NaN
2        -9.0  350.20          NaN     6/23/2023            Cash
7         0.0    0.00          0.0      5/1/2015            Cash
9         NaN    0.00          NaN      7/7/2023           Debit
10       12.0    0.00          0.0     7/18/2017         Checque
..        ...     ...          ...           ...             ...
986       NaN    0.00          0.0     5/15/2023             NaN
987       NaN  703.42       -100.0      3/3/2023         Checque
992       NaN     NaN          NaN      8/1/2017  Credit Payment
993      16.0    0.00        569.0           NaN  Credit Payment
994       NaN  790.43        358.0           NaN             NaN

     Shipping_Cost Discount   Tax    Sales_Rep Order_Status Customer_ID  \
0            5.140  Invalid -5.00     QlCNs123     Unknown!      XvqFZW
2              NaN      NaN -5.00    aGhtJWWn#     Unknown!      KVVDsM
7              NaN      NaN -5.00       ZsUms#     Unknown!      nbrzRe
9           38.769  Invalid -5.00    tUUSme123    Cancelled         ZmV
10           7.858     4.62 -5.00    jWTuyV123    Completed      ybFLZZ
..             ...      ...   ...          ...          ...         ...
986         31.126      NaN -1.18    qSwJjhKX#      Pending         FrI
987            NaN     2.52 -3.24     xKVki123     Returned      123456
992            NaN  Invalid -0.66  GIvTIwcM123    Completed      AdwmCC
993            NaN    16.58 -5.00      XYVenX@      Pending      ngHDRR
994            NaN      NaN -5.00      xYDHTt@          NaN      123456

           Country Phone_Number              Email  Delivery_Time
0             U.S.          NaN                NaN  Not available
2             U.S.          NaN                NaN  Not available
7              123   Invalid123                NaN  Not available
9    United States          NaN     eLsUdt@hotmail        Missing
10   United States   Invalid123  ghpVpRv@gmail.com             67
..             ...          ...                ...            ...
986           U.S.     12345678      dpONK@hotmail             37
987           U.S.     12345678            noemail             71
992            NaN     12345678            noemail             52
993  United States          NaN            noemail             66
994            123          NaN                NaN        Missing

[422 rows x 20 columns]

In [35]:
# Part 33: Checking for special characters in 'State' field

special_chars_state = df[~df['State'].str.match(r'^[A-Z]{2}$', na=False)]
print(f"Special characters in State:\n{special_chars_state}")

Special characters in State:
     Order_ID         Customer_Name   State       City      Product  Quantity  \
0         NaN                   NaN  Calif#       vlhG  nxJlrLVa123      -9.0
1     55834.0                   NaN     NaN        xIk        iWCYv       NaN
2         NaN                 quckz  Calif#    BqRoG!!    iLqNmM123      -9.0
3         NaN              John#Doe      Zz    JUqSAP@  oLUIHFfA         38.0
4     -2033.0               123John      jU      mppXi   EYBoNPS123       NaN
..        ...                   ...     ...        ...          ...       ...
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@  RvhhGDuZ123       NaN
996       NaN            XihedmGYce  Calif#    FLwgP!!  JRlSMuTy123       0.0
997       NaN                   NaN     NaN  USLnPoyD@   FPjbBxZFRI      50.0
998   -3723.0              John#Doe     NaN    kKVbQk@      LjMWnUN       NaN
999       NaN                   NaN  Calif#   TdAfQV!!    dgbeFb          0.0

      Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
0      0.00          0.0     9/17/2021             NaN           5.14
1      0.00          0.0           NaN         Checque            NaN
2    350.20          NaN     6/23/2023            Cash            NaN
3    345.58          NaN     1/28/2021  Credit Payment            NaN
4      0.00       -100.0    11/22/2022  Credit Payment            NaN
..      ...          ...           ...             ...            ...
994  790.43        358.0           NaN             NaN            NaN
996    0.00          NaN     9/12/2021           Debit            NaN
997    0.00          0.0     7/22/2010            Cash            NaN
998  296.36          NaN     3/25/2020         Checque            NaN
999  690.17          NaN     2/17/2012           Debit            NaN

    Discount    Tax   Sales_Rep Order_Status Customer_ID        Country  \
0    Invalid  -5.00    QlCNs123     Unknown!      XvqFZW           U.S.
1      25.11    NaN  jkATAyk123     Returned    NotValid  United States
2        NaN  -5.00   aGhtJWWn#     Unknown!      KVVDsM           U.S.
3      18.74    NaN     BprRml@    Cancelled    NotValid  United States
4      13.07    NaN   YgxXnx123      Pending         Oio            123
..       ...    ...         ...          ...         ...            ...
994      NaN  -5.00     xYDHTt@          NaN      123456            123
996  Invalid  12.84     QQiKoP#     Returned      FAdpMz           U.S.
997    -7.74    NaN      okkRH#      Pending      XBsfGP  United States
998  Invalid  13.80  DbloErg123     Unknown!      123456           U.S.
999    36.99    NaN    TblbUhh#    Cancelled    NotValid            NaN

    Phone_Number            Email  Delivery_Time
0            NaN              NaN  Not available
1            NaN          noemail             39
2            NaN              NaN  Not available
3       12345678  eAOenzoZc@yahoo        Missing
4            NaN          noemail  Not available
..           ...              ...            ...
994          NaN              NaN        Missing
996   Invalid123          noemail             67
997   Invalid123        czFWSGlaC             41
998     12345678         eOAItVcH  Not available
999     12345678          noemail  Not available

[716 rows x 20 columns]

In [36]:
# Part 34: Checking for invalid email formats in 'Email' column

# First, ensure that 'Email' is a string type
df['Email'] = df['Email'].astype(str)

# Check for invalid email formats using a regex pattern
invalid_email = df[~df['Email'].str.match(r'^[\w\.-]+@[\w\.-]+\.\w+$')]
print(f"Invalid Email values:\n{invalid_email}")

Invalid Email values:
     Order_ID Customer_Name   State       City      Product  Quantity   Price  \
0         NaN           NaN  Calif#       vlhG  nxJlrLVa123      -9.0    0.00
1     55834.0           NaN     NaN        xIk        iWCYv       NaN    0.00
2         NaN         quckz  Calif#    BqRoG!!    iLqNmM123      -9.0  350.20
3         NaN      John#Doe      Zz    JUqSAP@  oLUIHFfA         38.0  345.58
4     -2033.0       123John      jU      mppXi   EYBoNPS123       NaN    0.00
..        ...           ...     ...        ...          ...       ...     ...
995    -761.0           NaN      IL   WDrnCbXJ     pOBUv123       0.0     NaN
996       NaN    XihedmGYce  Calif#    FLwgP!!  JRlSMuTy123       0.0    0.00
997       NaN           NaN     NaN  USLnPoyD@   FPjbBxZFRI      50.0    0.00
998   -3723.0      John#Doe     NaN    kKVbQk@      LjMWnUN       NaN  296.36
999       NaN           NaN  Calif#   TdAfQV!!    dgbeFb          0.0  690.17

     Total_Sales Purchase_Date  Payment_Method  Shipping_Cost Discount    Tax  \
0            0.0     9/17/2021             NaN           5.14  Invalid  -5.00
1            0.0           NaN         Checque            NaN    25.11    NaN
2            NaN     6/23/2023            Cash            NaN      NaN  -5.00
3            NaN     1/28/2021  Credit Payment            NaN    18.74    NaN
4         -100.0    11/22/2022  Credit Payment            NaN    13.07    NaN
..           ...           ...             ...            ...      ...    ...
995        475.0     9/10/2017           Debit            NaN    -2.73    NaN
996          NaN     9/12/2021           Debit            NaN  Invalid  12.84
997          0.0     7/22/2010            Cash            NaN    -7.74    NaN
998          NaN     3/25/2020         Checque            NaN  Invalid  13.80
999          NaN     2/17/2012           Debit            NaN    36.99    NaN

      Sales_Rep Order_Status Customer_ID        Country Phone_Number  \
0      QlCNs123     Unknown!      XvqFZW           U.S.          NaN
1    jkATAyk123     Returned    NotValid  United States          NaN
2     aGhtJWWn#     Unknown!      KVVDsM           U.S.          NaN
3       BprRml@    Cancelled    NotValid  United States     12345678
4     YgxXnx123      Pending         Oio            123          NaN
..          ...          ...         ...            ...          ...
995  PQmSgCA123      Pending      GEvdQk            123   8988717670
996     QQiKoP#     Returned      FAdpMz           U.S.   Invalid123
997      okkRH#      Pending      XBsfGP  United States   Invalid123
998  DbloErg123     Unknown!      123456           U.S.     12345678
999    TblbUhh#    Cancelled    NotValid            NaN     12345678

               Email  Delivery_Time
0                nan  Not available
1            noemail             39
2                nan  Not available
3    eAOenzoZc@yahoo        Missing
4            noemail  Not available
..               ...            ...
995          noemail             77
996          noemail             67
997        czFWSGlaC             41
998         eOAItVcH  Not available
999          noemail  Not available

[928 rows x 20 columns]

In [37]:
# Part 35: Checking for incomplete email addresses

incomplete_emails = df[~df['Email'].str.contains(r'@', na=False)]
print(f"Incomplete Email addresses:\n{incomplete_emails}")

Incomplete Email addresses:
     Order_ID Customer_Name   State       City      Product  Quantity   Price  \
0         NaN           NaN  Calif#       vlhG  nxJlrLVa123      -9.0    0.00
1     55834.0           NaN     NaN        xIk        iWCYv       NaN    0.00
2         NaN         quckz  Calif#    BqRoG!!    iLqNmM123      -9.0  350.20
4     -2033.0       123John      jU      mppXi   EYBoNPS123       NaN    0.00
5         NaN      John#Doe  Calif#     vuiCr@    TaixLE          0.0     NaN
..        ...           ...     ...        ...          ...       ...     ...
995    -761.0           NaN      IL   WDrnCbXJ     pOBUv123       0.0     NaN
996       NaN    XihedmGYce  Calif#    FLwgP!!  JRlSMuTy123       0.0    0.00
997       NaN           NaN     NaN  USLnPoyD@   FPjbBxZFRI      50.0    0.00
998   -3723.0      John#Doe     NaN    kKVbQk@      LjMWnUN       NaN  296.36
999       NaN           NaN  Calif#   TdAfQV!!    dgbeFb          0.0  690.17

     Total_Sales Purchase_Date  Payment_Method  Shipping_Cost Discount    Tax  \
0            0.0     9/17/2021             NaN           5.14  Invalid  -5.00
1            0.0           NaN         Checque            NaN    25.11    NaN
2            NaN     6/23/2023            Cash            NaN      NaN  -5.00
4         -100.0    11/22/2022  Credit Payment            NaN    13.07    NaN
5            NaN           NaN         Checque            NaN    28.98   6.32
..           ...           ...             ...            ...      ...    ...
995        475.0     9/10/2017           Debit            NaN    -2.73    NaN
996          NaN     9/12/2021           Debit            NaN  Invalid  12.84
997          0.0     7/22/2010            Cash            NaN    -7.74    NaN
998          NaN     3/25/2020         Checque            NaN  Invalid  13.80
999          NaN     2/17/2012           Debit            NaN    36.99    NaN

      Sales_Rep Order_Status Customer_ID        Country Phone_Number  \
0      QlCNs123     Unknown!      XvqFZW           U.S.          NaN
1    jkATAyk123     Returned    NotValid  United States          NaN
2     aGhtJWWn#     Unknown!      KVVDsM           U.S.          NaN
4     YgxXnx123      Pending         Oio            123          NaN
5      TBhRXVc#     Returned      123456           U.S.          NaN
..          ...          ...         ...            ...          ...
995  PQmSgCA123      Pending      GEvdQk            123   8988717670
996     QQiKoP#     Returned      FAdpMz           U.S.   Invalid123
997      okkRH#      Pending      XBsfGP  United States   Invalid123
998  DbloErg123     Unknown!      123456           U.S.     12345678
999    TblbUhh#    Cancelled    NotValid            NaN     12345678

         Email  Delivery_Time
0          nan  Not available
1      noemail             39
2          nan  Not available
4      noemail  Not available
5      noemail  Not available
..         ...            ...
995    noemail             77
996    noemail             67
997  czFWSGlaC             41
998   eOAItVcH  Not available
999    noemail  Not available

[759 rows x 20 columns]

In [38]:
# Part 36: Checking for incorrect 'Order_Status' (invalid status values)

valid_statuses = ['Shipped', 'Pending', 'Delivered', 'Cancelled']
invalid_order_status = df[~df['Order_Status'].isin(valid_statuses)]
print(f"Incorrect Order Status:\n{invalid_order_status}")

Incorrect Order Status:
     Order_ID         Customer_Name   State       City        Product  \
0         NaN                   NaN  Calif#       vlhG    nxJlrLVa123
1     55834.0                   NaN     NaN        xIk          iWCYv
2         NaN                 quckz  Calif#    BqRoG!!      iLqNmM123
5         NaN              John#Doe  Calif#     vuiCr@      TaixLE
6         NaN                   NaN  Calif#    mOLPl!!   krQcsBBTL
..        ...                   ...     ...        ...            ...
991   -9744.0                   NaN      mz  qesubyCr@  yNSYvZltFY
992    -564.0               123John     NaN    tuJSws@      vdrBUG
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@    RvhhGDuZ123
996       NaN            XihedmGYce  Calif#    FLwgP!!    JRlSMuTy123
998   -3723.0              John#Doe     NaN    kKVbQk@        LjMWnUN

     Quantity   Price  Total_Sales Purchase_Date  Payment_Method  \
0        -9.0    0.00          0.0     9/17/2021             NaN
1         NaN    0.00          0.0           NaN         Checque
2        -9.0  350.20          NaN     6/23/2023            Cash
5         0.0     NaN          NaN           NaN         Checque
6         0.0  589.89       -100.0      3/9/2021           Debit
..        ...     ...          ...           ...             ...
991       8.0    0.00        165.0     8/24/2012           Debit
992       NaN     NaN          NaN      8/1/2017  Credit Payment
994       NaN  790.43        358.0           NaN             NaN
996       0.0    0.00          NaN     9/12/2021           Debit
998       NaN  296.36          NaN     3/25/2020         Checque

     Shipping_Cost Discount    Tax    Sales_Rep Order_Status Customer_ID  \
0             5.14  Invalid  -5.00     QlCNs123     Unknown!      XvqFZW
1              NaN    25.11    NaN   jkATAyk123     Returned    NotValid
2              NaN      NaN  -5.00    aGhtJWWn#     Unknown!      KVVDsM
5              NaN    28.98   6.32     TBhRXVc#     Returned      123456
6              NaN  Invalid    NaN  WwAguYBR123     Returned      fRFzDU
..             ...      ...    ...          ...          ...         ...
991            NaN  Invalid    NaN       iMfXH#     Returned         Vmp
992            NaN  Invalid  -0.66  GIvTIwcM123    Completed      AdwmCC
994            NaN      NaN  -5.00      xYDHTt@          NaN      123456
996            NaN  Invalid  12.84      QQiKoP#     Returned      FAdpMz
998            NaN  Invalid  13.80   DbloErg123     Unknown!      123456

           Country Phone_Number     Email  Delivery_Time
0             U.S.          NaN       nan  Not available
1    United States          NaN   noemail             39
2             U.S.          NaN       nan  Not available
5             U.S.          NaN   noemail  Not available
6             U.S.          NaN   noemail        Missing
..             ...          ...       ...            ...
991            NaN   6660349446       nan        Missing
992            NaN     12345678   noemail             52
994            123          NaN       nan        Missing
996           U.S.   Invalid123   noemail             67
998           U.S.     12345678  eOAItVcH  Not available

[676 rows x 20 columns]

In [39]:
# Part 37: Checking for empty 'Country' field

empty_country = df[df['Country'].isnull() | (df['Country'] == '')]
print(f"Empty Country field:\n{empty_country}")

Empty Country field:
     Order_ID         Customer_Name   State       City        Product  \
17        NaN  fmkGpMQxBnIxmJoPpiyu      AZ   rjajLVtp       yVLtk123
18        NaN             jwtLQVAvt  Calif#  NAFBlUvc@        pnhOJfh
20    -7873.0               NQbXJQS  Calif#        Aup      zZUtpz123
22        NaN                   NaN      iv  IfCxIAz!!    tEQCucVX
27        NaN                   NaN  Calif#       nnb@         zSMzXI
..        ...                   ...     ...        ...            ...
976   -3403.0               123John  Calif#      vAHdZ     AbwGKvk
977       NaN  QOcFvCBRzvWITAGSJmxv  Calif#       lDYn  BRJfQAujXv
991   -9744.0                   NaN      mz  qesubyCr@  yNSYvZltFY
992    -564.0               123John     NaN    tuJSws@      vdrBUG
999       NaN                   NaN  Calif#   TdAfQV!!      dgbeFb

     Quantity   Price  Total_Sales Purchase_Date  Payment_Method  \
17        NaN    0.00          NaN      4/5/2017  Credit Payment
18        7.0  301.28      2108.96      3/9/2023         Checque
20        0.0     NaN         0.00     3/22/2020           Debit
22        NaN     NaN         0.00    10/28/2021           Debit
27       13.0    0.00      -100.00           NaN         Checque
..        ...     ...          ...           ...             ...
976      38.0     NaN          NaN     5/25/2022  Credit Payment
977       NaN    0.00          NaN           NaN            Cash
991       8.0    0.00       165.00     8/24/2012           Debit
992       NaN     NaN          NaN      8/1/2017  Credit Payment
999       0.0  690.17          NaN     2/17/2012           Debit

     Shipping_Cost Discount   Tax    Sales_Rep Order_Status Customer_ID  \
17             NaN  Invalid -5.00      lwBLyj#    Cancelled      123456
18             NaN      NaN  4.90      fXscqi#     Unknown!      nZFipi
20          -4.709      NaN -1.82      GCUOVH@          NaN      QQjQUb
22             NaN    15.42 -5.00  ICzqyftq123    Completed      123456
27             NaN    38.89 -5.00    byMzTrzu@    Completed         JIu
..             ...      ...   ...          ...          ...         ...
976            NaN  Invalid   NaN  ksmKtyHG123          NaN      qhbdYZ
977            NaN     12.7 -2.08       znSrB@     Unknown!      JFauaB
991            NaN  Invalid   NaN       iMfXH#     Returned         Vmp
992            NaN  Invalid -0.66  GIvTIwcM123    Completed      AdwmCC
999            NaN    36.99   NaN     TblbUhh#    Cancelled    NotValid

    Country Phone_Number              Email  Delivery_Time
17      NaN     12345678            noemail             68
18      NaN          NaN                nan        Missing
20      NaN   Invalid123            noemail  Not available
22      NaN          NaN            noemail  Not available
27      NaN   5540343710            noemail        Missing
..      ...          ...                ...            ...
976     NaN   Invalid123  PkDUGtj@gmail.com  Not available
977     NaN   4823641930                nan        Missing
991     NaN   6660349446                nan        Missing
992     NaN     12345678            noemail             52
999     NaN     12345678            noemail  Not available

[201 rows x 20 columns]

In [40]:
# Part 38: Checking for extra spaces in 'Customer_Name'

extra_spaces_customer_name = df[df['Customer_Name'].str.contains(r'^\s|\s$', na=False)]
print(f"Customer names with extra spaces:\n{extra_spaces_customer_name}")

Customer names with extra spaces:
Empty DataFrame
Columns: [Order_ID, Customer_Name, State, City, Product, Quantity, Price, Total_Sales, Purchase_Date, Payment_Method, Shipping_Cost, Discount, Tax, Sales_Rep, Order_Status, Customer_ID, Country, Phone_Number, Email, Delivery_Time]
Index: []

In [41]:
# Part 39: Checking for typos in 'Payment_Method'

valid_payment_methods = ['Credit Card', 'Debit Card', 'PayPal', 'Cash']
invalid_payment_method = df[~df['Payment_Method'].isin(valid_payment_methods)]
print(f"Typos in Payment Method:\n{invalid_payment_method}")

Typos in Payment Method:
     Order_ID         Customer_Name   State      City      Product  Quantity  \
0         NaN                   NaN  Calif#      vlhG  nxJlrLVa123      -9.0
1     55834.0                   NaN     NaN       xIk        iWCYv       NaN
3         NaN              John#Doe      Zz   JUqSAP@  oLUIHFfA         38.0
4     -2033.0               123John      jU     mppXi   EYBoNPS123       NaN
5         NaN              John#Doe  Calif#    vuiCr@    TaixLE          0.0
..        ...                   ...     ...       ...          ...       ...
994       NaN  infjvFHeooDgZewlUxMV     NaN     pmJf@  RvhhGDuZ123       NaN
995    -761.0                   NaN      IL  WDrnCbXJ     pOBUv123       0.0
996       NaN            XihedmGYce  Calif#   FLwgP!!  JRlSMuTy123       0.0
998   -3723.0              John#Doe     NaN   kKVbQk@      LjMWnUN       NaN
999       NaN                   NaN  Calif#  TdAfQV!!    dgbeFb          0.0

      Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
0      0.00          0.0     9/17/2021             NaN           5.14
1      0.00          0.0           NaN         Checque            NaN
3    345.58          NaN     1/28/2021  Credit Payment            NaN
4      0.00       -100.0    11/22/2022  Credit Payment            NaN
5       NaN          NaN           NaN         Checque            NaN
..      ...          ...           ...             ...            ...
994  790.43        358.0           NaN             NaN            NaN
995     NaN        475.0     9/10/2017           Debit            NaN
996    0.00          NaN     9/12/2021           Debit            NaN
998  296.36          NaN     3/25/2020         Checque            NaN
999  690.17          NaN     2/17/2012           Debit            NaN

    Discount    Tax   Sales_Rep Order_Status Customer_ID        Country  \
0    Invalid  -5.00    QlCNs123     Unknown!      XvqFZW           U.S.
1      25.11    NaN  jkATAyk123     Returned    NotValid  United States
3      18.74    NaN     BprRml@    Cancelled    NotValid  United States
4      13.07    NaN   YgxXnx123      Pending         Oio            123
5      28.98   6.32    TBhRXVc#     Returned      123456           U.S.
..       ...    ...         ...          ...         ...            ...
994      NaN  -5.00     xYDHTt@          NaN      123456            123
995    -2.73    NaN  PQmSgCA123      Pending      GEvdQk            123
996  Invalid  12.84     QQiKoP#     Returned      FAdpMz           U.S.
998  Invalid  13.80  DbloErg123     Unknown!      123456           U.S.
999    36.99    NaN    TblbUhh#    Cancelled    NotValid            NaN

    Phone_Number            Email  Delivery_Time
0            NaN              nan  Not available
1            NaN          noemail             39
3       12345678  eAOenzoZc@yahoo        Missing
4            NaN          noemail  Not available
5            NaN          noemail  Not available
..           ...              ...            ...
994          NaN              nan        Missing
995   8988717670          noemail             77
996   Invalid123          noemail             67
998     12345678         eOAItVcH  Not available
999     12345678          noemail  Not available

[790 rows x 20 columns]

In [42]:
# Part 40: Checking for non-numeric 'Discount'

non_numeric_discount = df[pd.to_numeric(df['Discount'], errors='coerce').isnull()]
print(f"Non-numeric Discount values:\n{non_numeric_discount}")

Non-numeric Discount values:
     Order_ID         Customer_Name   State       City        Product  \
0         NaN                   NaN  Calif#       vlhG    nxJlrLVa123
2         NaN                 quckz  Calif#    BqRoG!!      iLqNmM123
6         NaN                   NaN  Calif#    mOLPl!!   krQcsBBTL
7     14840.0               peYofjf     NaN    hLsTB!!       YVpzv123
8     -8164.0              John#Doe     NaN    RDoGEGv     MHUjKGc123
..        ...                   ...     ...        ...            ...
991   -9744.0                   NaN      mz  qesubyCr@  yNSYvZltFY
992    -564.0               123John     NaN    tuJSws@      vdrBUG
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@    RvhhGDuZ123
996       NaN            XihedmGYce  Calif#    FLwgP!!    JRlSMuTy123
998   -3723.0              John#Doe     NaN    kKVbQk@        LjMWnUN

     Quantity   Price  Total_Sales Purchase_Date  Payment_Method  \
0        -9.0    0.00          0.0     9/17/2021             NaN
2        -9.0  350.20          NaN     6/23/2023            Cash
6         0.0  589.89       -100.0      3/9/2021           Debit
7         0.0    0.00          0.0      5/1/2015            Cash
8        14.0     NaN       -100.0      6/1/2024           Debit
..        ...     ...          ...           ...             ...
991       8.0    0.00        165.0     8/24/2012           Debit
992       NaN     NaN          NaN      8/1/2017  Credit Payment
994       NaN  790.43        358.0           NaN             NaN
996       0.0    0.00          NaN     9/12/2021           Debit
998       NaN  296.36          NaN     3/25/2020         Checque

     Shipping_Cost Discount    Tax    Sales_Rep Order_Status Customer_ID  \
0             5.14  Invalid  -5.00     QlCNs123     Unknown!      XvqFZW
2              NaN      NaN  -5.00    aGhtJWWn#     Unknown!      KVVDsM
6              NaN  Invalid    NaN  WwAguYBR123     Returned      fRFzDU
7              NaN      NaN  -5.00       ZsUms#     Unknown!      nbrzRe
8              NaN  Invalid  19.59    bSXCWj123     Unknown!         XcA
..             ...      ...    ...          ...          ...         ...
991            NaN  Invalid    NaN       iMfXH#     Returned         Vmp
992            NaN  Invalid  -0.66  GIvTIwcM123    Completed      AdwmCC
994            NaN      NaN  -5.00      xYDHTt@          NaN      123456
996            NaN  Invalid  12.84      QQiKoP#     Returned      FAdpMz
998            NaN  Invalid  13.80   DbloErg123     Unknown!      123456

    Country Phone_Number     Email  Delivery_Time
0      U.S.          NaN       nan  Not available
2      U.S.          NaN       nan  Not available
6      U.S.          NaN   noemail        Missing
7       123   Invalid123       nan  Not available
8      U.S.     12345678   noemail             30
..      ...          ...       ...            ...
991     NaN   6660349446       nan        Missing
992     NaN     12345678   noemail             52
994     123          NaN       nan        Missing
996    U.S.   Invalid123   noemail             67
998    U.S.     12345678  eOAItVcH  Not available

[684 rows x 20 columns]

In [43]:
# Part 41: Checking for negative 'Shipping_Cost'

negative_shipping_cost = df[df['Shipping_Cost'] < 0]
print(f"Negative Shipping Costs:\n{negative_shipping_cost}")

Negative Shipping Costs:
     Order_ID         Customer_Name   State        City        Product  \
20    -7873.0               NQbXJQS  Calif#         Aup      zZUtpz123
58        NaN              John#Doe     NaN     yQPeJe@          pRvWU
73        NaN              John#Doe  Calif#     ezjpyq@        AaOvQCr
241   -7896.0              John#Doe      qv       CeE!!   vXnlUHidH
290   -6504.0              John#Doe      TN        vxcD      UvuHZj123
315       NaN  zaHkprfaaQhmpsxIMfqK      NY       FVZi@     wpkYyGD123
377       NaN             qARCcpVno  Calif#       gxx!!     uYsMUjo
447       NaN              John#Doe  Calif#      avrxCi       FzxNv123
486   76631.0               123John     NaN   WZPmgQK!!     KDcpwCK
640       NaN               123John      IL  uyABblKv!!     dJYNozs123
643       NaN              John#Doe      Ks      NSLgG@    UXjqLjND123
695   28555.0  bthxsZRgyZZTitaSegUV      jT         fyA     EpvSFvC
735   27601.0            AvmNeqDOQg     NaN   aHNVCdV!!    bFsCLSMm123
805       NaN              John#Doe      AZ       uYupE    aTwrnVul
812   19925.0            buIKDDxMXd  Calif#      BjCY!!     MnyKEZuwaO
813       NaN               123John      VR      RifgyV  EmeKpQEqVM
827       NaN             eHbnuKaof  Calif#       pMhV@     ucIEaVj123
867   19448.0  TJGdwiOWwTlwArRJGwpG      MI     BMCmoqC    YKVKCooL
883       NaN              John#Doe      OH    hoOMds!!  QoERFVGtMo
910   24159.0               123John  Calif#     wULQz!!    TbfukonQ123
916   10195.0                   NaN  Calif#     izLyR!!       oindh
928       NaN                   NaN  Calif#       edrGH        gQmDTvM
951   -8480.0              John#Doe  Calif#     UiDhTw@     rCBdToe
967       NaN              John#Doe     NaN     mjZpivv    xeRwZrEh123

     Quantity   Price  Total_Sales Purchase_Date  Payment_Method  \
20        0.0     NaN         0.00     3/22/2020           Debit
58        NaN  213.19         0.00           NaN  Credit Payment
73       -8.0     NaN          NaN     5/27/2016         Checque
241       NaN     NaN          NaN           NaN           Debit
290       NaN     NaN          NaN           NaN  Credit Payment
315      -1.0    0.00         0.00     9/15/2020           Debit
377       NaN  706.50          NaN     10/5/2021         Checque
447      16.0    0.00         0.00    10/15/2016             NaN
486      20.0     NaN         0.00     10/4/2018           Debit
640       0.0     NaN          NaN     2/24/2011            Cash
643       0.0    0.00       293.00           NaN  Credit Payment
695       NaN    0.00          NaN      2/6/2022  Credit Payment
735      14.0     NaN          NaN           NaN            Cash
805       NaN    0.00          NaN           NaN            Cash
812      -7.0    0.00          NaN     7/24/2020         Checque
813       0.0    0.00         0.00     5/20/2014             NaN
827       NaN  813.08      -100.00           NaN             NaN
867      18.0  669.61     12052.98     5/24/2021  Credit Payment
883       0.0     NaN          NaN     10/3/2015             NaN
910       NaN    0.00          NaN           NaN            Cash
916      36.0   31.84          NaN           NaN         Checque
928      49.0    0.00         0.00      7/9/2024  Credit Payment
951       0.0     NaN       767.00     7/15/2010            Cash
967       NaN  -20.81          NaN      2/5/2014         Checque

     Shipping_Cost Discount    Tax    Sales_Rep Order_Status Customer_ID  \
20          -4.709      NaN  -1.82      GCUOVH@          NaN      QQjQUb
58          -2.319      NaN  19.94   ykilmtM123    Cancelled      sudLWJ
73          -7.934    35.06    NaN    VSxIipDn@    Cancelled         dEK
241         -3.373      NaN    NaN    uWwdrqsZ#      Pending    NotValid
290         -7.897  Invalid   2.26     BpomeCH#      Pending      123456
315         -2.825      NaN  -4.61       dkDCk@    Cancelled         jGT
377         -5.450      NaN    NaN   PmbQnSN123     Unknown!    NotValid
447         -6.932      NaN  17.09      ONxkiN@    Cancelled    NotValid
486         -1.748      NaN  10.74  XihNDzWx123     Returned    NotValid
640         -2.378  Invalid   5.01     jdXIcId#     Unknown!      123456
643         -2.184      NaN  -5.00       Vcivv@     Returned    NotValid
695         -0.875    27.32    NaN   ayOPxAu123     Returned    NotValid
735         -6.311  Invalid  -5.00    ufHALUVe#    Cancelled    NotValid
805         -8.652    37.43  -5.00   VbcCAhY123          NaN    NotValid
812         -2.159    -1.19  17.68  QPqSviDQ123    Completed         hhJ
813         -4.658  Invalid  -5.00    TjMFBJgq@    Cancelled    NotValid
827         -1.686   -24.48    NaN     OIkILdu@      Pending      lQsRIV
867         -3.937  Invalid  -5.00  HmKVctoe123    Cancelled         LiB
883         -4.103  Invalid  19.96   gVESUjT123    Completed      123456
910         -4.918  Invalid  -4.20     MbkVsoz@    Completed      123456
916         -7.774  Invalid  -5.00   TrnDvYK123    Cancelled    NotValid
928         -6.264      NaN  17.02  kpFPnkbB123    Completed         TPm
951         -8.721   -21.37    NaN    ZHYLKu123     Returned      ZRvjgX
967         -2.080      NaN  -4.74       yaWwF@     Unknown!    NotValid

           Country Phone_Number                 Email  Delivery_Time
20             NaN   Invalid123               noemail  Not available
58   United States   Invalid123             aDxVZIzBs        Missing
73            U.S.     12345678               noemail             72
241            USA     12345678               noemail             61
290            USA   Invalid123                   nan        Missing
315  United States          NaN                   nan        Missing
377            USA     12345678                   nan             39
447           U.S.     12345678    LIkOfsiz@gmail.com             33
486            NaN     12345678               noemail        Missing
640            USA     12345678  jRzAMzBgFY@gmail.com             52
643            USA   Invalid123         AoCOS@hotmail        Missing
695           U.S.   7149438551                   nan        Missing
735            NaN   7869190497               noemail             31
805           U.S.   2972139145       AVsyp@gmail.com        Missing
812            NaN   3294039329            eAQgehrGvH             63
813            NaN   Invalid123               noemail  Not available
827            123          NaN                   nan        Missing
867  United States          NaN               noemail  Not available
883            NaN   8988974048      ZgeOGk@gmail.com  Not available
910           U.S.     12345678                   nan        Missing
916  United States    365663917                   nan             54
928           U.S.   5787815338                   nan        Missing
951  United States          NaN   eVoaZnKNO@gmail.com  Not available
967           U.S.     12345678               noemail             63

In [44]:
# Part 42: Checking for extra spaces in 'Phone_Number'

extra_spaces_phone_number = df[df['Phone_Number'].str.contains(r'^\s|\s$', na=False)]
print(f"Phone numbers with extra spaces:\n{extra_spaces_phone_number}")

Phone numbers with extra spaces:
Empty DataFrame
Columns: [Order_ID, Customer_Name, State, City, Product, Quantity, Price, Total_Sales, Purchase_Date, Payment_Method, Shipping_Cost, Discount, Tax, Sales_Rep, Order_Status, Customer_ID, Country, Phone_Number, Email, Delivery_Time]
Index: []

In [45]:
# Part 43: Checking for random strings in 'Quantity'

non_numeric_quantity = df[pd.to_numeric(df['Quantity'], errors='coerce').isnull()]
print(f"Random strings in Quantity:\n{non_numeric_quantity}")

Random strings in Quantity:
     Order_ID         Customer_Name   State     City      Product  Quantity  \
1     55834.0                   NaN     NaN      xIk        iWCYv       NaN
4     -2033.0               123John      jU    mppXi   EYBoNPS123       NaN
9     93428.0                   NaN  Calif#  yUudpqw     wxwoP123       NaN
12    24051.0               123John      cO  PSBMxc@    XhvFwNXkz       NaN
13        NaN                   NaN     NaN   HWPMrs   JWWeNooCOi       NaN
..        ...                   ...     ...      ...          ...       ...
987       NaN  wFIjrNTWdywdGVDKzqEb      GA   QLeULO    VbeJZv          NaN
988       NaN              John#Doe  Calif#    TaEB@    xVBQkK123       NaN
992    -564.0               123John     NaN  tuJSws@    vdrBUG          NaN
994       NaN  infjvFHeooDgZewlUxMV     NaN    pmJf@  RvhhGDuZ123       NaN
998   -3723.0              John#Doe     NaN  kKVbQk@      LjMWnUN       NaN

      Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
1      0.00          0.0           NaN         Checque            NaN
4      0.00       -100.0    11/22/2022  Credit Payment            NaN
9      0.00          NaN      7/7/2023           Debit         38.769
12   -98.64          NaN     8/25/2017           Debit         65.897
13      NaN          NaN     5/13/2021           Debit            NaN
..      ...          ...           ...             ...            ...
987  703.42       -100.0      3/3/2023         Checque            NaN
988     NaN       -100.0     5/11/2015             NaN         77.359
992     NaN          NaN      8/1/2017  Credit Payment            NaN
994  790.43        358.0           NaN             NaN            NaN
998  296.36          NaN     3/25/2020         Checque            NaN

    Discount    Tax    Sales_Rep Order_Status Customer_ID        Country  \
1      25.11    NaN   jkATAyk123     Returned    NotValid  United States
4      13.07    NaN    YgxXnx123      Pending         Oio            123
9    Invalid  -5.00    tUUSme123    Cancelled         ZmV  United States
12     35.67    NaN    eGoyZW123    Completed    NotValid           U.S.
13   Invalid  14.90    TOBqUldx@     Returned    NotValid  United States
..       ...    ...          ...          ...         ...            ...
987     2.52  -3.24     xKVki123     Returned      123456           U.S.
988  Invalid    NaN     NUnRIea@      Pending         upv  United States
992  Invalid  -0.66  GIvTIwcM123    Completed      AdwmCC            NaN
994      NaN  -5.00      xYDHTt@          NaN      123456            123
998  Invalid  13.80   DbloErg123     Unknown!      123456           U.S.

    Phone_Number           Email  Delivery_Time
1            NaN         noemail             39
4            NaN         noemail  Not available
9            NaN  eLsUdt@hotmail        Missing
12           NaN         noemail             73
13    Invalid123             nan             87
..           ...             ...            ...
987     12345678         noemail             71
988     12345678             nan        Missing
992     12345678         noemail             52
994          NaN             nan        Missing
998     12345678        eOAItVcH  Not available

[328 rows x 20 columns]

In [46]:
# Part 44: Checking for numeric values in 'Country' field

numeric_country = df[df['Country'].str.contains(r'\d', na=False)]
print(f"Countries with numeric values:\n{numeric_country}")

Countries with numeric values:
     Order_ID         Customer_Name   State       City        Product  \
4     -2033.0               123John      jU      mppXi     EYBoNPS123
7     14840.0               peYofjf     NaN    hLsTB!!       YVpzv123
15    -6794.0              John#Doe  Calif#    rOPJL!!     BATFJfqjmQ
16    71451.0               123John      NC   HmaAuNW@   AJjQDYYeS123
23    -9491.0             cJBRmrHRu     NaN   vLTNmNN@  xvzilkuuId
..        ...                   ...     ...        ...            ...
982       NaN                   NaN  Calif#       soNo      DCZaIhwUp
983   -4932.0              John#Doe     NaN  wWEpnxx!!     HMjnlaadAu
984       NaN               123John      dc      oMDzl        JzUvOcz
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@    RvhhGDuZ123
995    -761.0                   NaN      IL   WDrnCbXJ       pOBUv123

     Quantity   Price  Total_Sales Purchase_Date  Payment_Method  \
4         NaN    0.00       -100.0    11/22/2022  Credit Payment
7         0.0    0.00          0.0      5/1/2015            Cash
15       15.0    0.00          NaN     1/17/2024            Cash
16        0.0  112.08          NaN           NaN            Cash
23       -4.0     NaN          0.0           NaN  Credit Payment
..        ...     ...          ...           ...             ...
982       NaN  956.06        152.0      1/3/2021            Cash
983       0.0     NaN          0.0           NaN            Cash
984      45.0     NaN          NaN           NaN            Cash
994       NaN  790.43        358.0           NaN             NaN
995       0.0     NaN        475.0     9/10/2017           Debit

     Shipping_Cost Discount    Tax    Sales_Rep Order_Status Customer_ID  \
4              NaN    13.07    NaN    YgxXnx123      Pending         Oio
7              NaN      NaN  -5.00       ZsUms#     Unknown!      nbrzRe
15          37.528      NaN   8.01      rsvdHS#    Completed         mwq
16          69.390      NaN  -0.38      NggNWw@    Cancelled         lBp
23          85.535    15.66    NaN     AwjWU123    Cancelled    NotValid
..             ...      ...    ...          ...          ...         ...
982            NaN  Invalid  16.97     eABmoRE@    Completed      123456
983            NaN  Invalid    NaN    hTrwlWOm@     Returned         VpH
984          2.742    35.39  -5.00  brPLzesK123    Completed      MaoVZz
994            NaN      NaN  -5.00      xYDHTt@          NaN      123456
995            NaN    -2.73    NaN   PQmSgCA123      Pending      GEvdQk

    Country Phone_Number           Email  Delivery_Time
4       123          NaN         noemail  Not available
7       123   Invalid123             nan  Not available
15      123   Invalid123             nan             32
16      123     12345678             nan             69
23      123   6347809584             nan             82
..      ...          ...             ...            ...
982     123     12345678  MKzbZdLp@yahoo        Missing
983     123   Invalid123  BOltQc@hotmail  Not available
984     123          NaN    TTjloc@yahoo  Not available
994     123          NaN             nan        Missing
995     123   8988717670         noemail             77

[240 rows x 20 columns]

In [47]:
# Part 45: Checking for digits in 'Product' names

product_names_with_digits = df[df['Product'].str.contains(r'\d', na=False)]
print(f"Product names with digits:\n{product_names_with_digits}")

Product names with digits:
     Order_ID         Customer_Name   State      City      Product  Quantity  \
0         NaN                   NaN  Calif#      vlhG  nxJlrLVa123      -9.0
2         NaN                 quckz  Calif#   BqRoG!!    iLqNmM123      -9.0
4     -2033.0               123John      jU     mppXi   EYBoNPS123       NaN
7     14840.0               peYofjf     NaN   hLsTB!!     YVpzv123       0.0
8     -8164.0              John#Doe     NaN   RDoGEGv   MHUjKGc123      14.0
..        ...                   ...     ...       ...          ...       ...
989       NaN               123John  Calif#    mJOzF@    UuYFKF123      28.0
993       NaN               123John      Cn  XwTSLOpO     KcoDu123      16.0
994       NaN  infjvFHeooDgZewlUxMV     NaN     pmJf@  RvhhGDuZ123       NaN
995    -761.0                   NaN      IL  WDrnCbXJ     pOBUv123       0.0
996       NaN            XihedmGYce  Calif#   FLwgP!!  JRlSMuTy123       0.0

      Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
0      0.00          0.0     9/17/2021             NaN           5.14
2    350.20          NaN     6/23/2023            Cash            NaN
4      0.00       -100.0    11/22/2022  Credit Payment            NaN
7      0.00          0.0      5/1/2015            Cash            NaN
8       NaN       -100.0      6/1/2024           Debit            NaN
..      ...          ...           ...             ...            ...
989  903.61       -100.0     3/21/2022  Credit Payment            NaN
993    0.00        569.0           NaN  Credit Payment            NaN
994  790.43        358.0           NaN             NaN            NaN
995     NaN        475.0     9/10/2017           Debit            NaN
996    0.00          NaN     9/12/2021           Debit            NaN

    Discount    Tax   Sales_Rep Order_Status Customer_ID        Country  \
0    Invalid  -5.00    QlCNs123     Unknown!      XvqFZW           U.S.
2        NaN  -5.00   aGhtJWWn#     Unknown!      KVVDsM           U.S.
4      13.07    NaN   YgxXnx123      Pending         Oio            123
7        NaN  -5.00      ZsUms#     Unknown!      nbrzRe            123
8    Invalid  19.59   bSXCWj123     Unknown!         XcA           U.S.
..       ...    ...         ...          ...         ...            ...
989      NaN  15.99     DZJWWP#     Returned         Ggm  United States
993    16.58  -5.00     XYVenX@      Pending      ngHDRR  United States
994      NaN  -5.00     xYDHTt@          NaN      123456            123
995    -2.73    NaN  PQmSgCA123      Pending      GEvdQk            123
996  Invalid  12.84     QQiKoP#     Returned      FAdpMz           U.S.

    Phone_Number    Email  Delivery_Time
0            NaN      nan  Not available
2            NaN      nan  Not available
4            NaN  noemail  Not available
7     Invalid123      nan  Not available
8       12345678  noemail             30
..           ...      ...            ...
989     12345678    dmIdE        Missing
993          NaN  noemail             66
994          NaN      nan        Missing
995   8988717670  noemail             77
996   Invalid123  noemail             67

[346 rows x 20 columns]

In [48]:
# Part 46: Checking for unusually high 'Quantity' values

# First, ensure that 'Quantity' is converted to numeric, coercing any errors
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')

# Now, you can safely check for unusually high quantities
unusually_high_quantity = df[df['Quantity'] > 100]
print(f"Rows with unusually high 'Quantity':\n{unusually_high_quantity}")

Rows with unusually high 'Quantity':
Empty DataFrame
Columns: [Order_ID, Customer_Name, State, City, Product, Quantity, Price, Total_Sales, Purchase_Date, Payment_Method, Shipping_Cost, Discount, Tax, Sales_Rep, Order_Status, Customer_ID, Country, Phone_Number, Email, Delivery_Time]
Index: []

In [49]:
# Part 47: Checking for duplicated 'Customer_ID' values

duplicate_customer_id = df[df.duplicated('Customer_ID', keep=False)]
print(f"Duplicated Customer IDs:\n{duplicate_customer_id}")

Duplicated Customer IDs:
     Order_ID         Customer_Name   State      City      Product  Quantity  \
1     55834.0                   NaN     NaN       xIk        iWCYv       NaN
3         NaN              John#Doe      Zz   JUqSAP@  oLUIHFfA         38.0
5         NaN              John#Doe  Calif#    vuiCr@    TaixLE          0.0
12    24051.0               123John      cO   PSBMxc@    XhvFwNXkz       NaN
13        NaN                   NaN     NaN    HWPMrs   JWWeNooCOi       NaN
..        ...                   ...     ...       ...          ...       ...
982       NaN                   NaN  Calif#      soNo    DCZaIhwUp       NaN
987       NaN  wFIjrNTWdywdGVDKzqEb      GA    QLeULO    VbeJZv          NaN
994       NaN  infjvFHeooDgZewlUxMV     NaN     pmJf@  RvhhGDuZ123       NaN
998   -3723.0              John#Doe     NaN   kKVbQk@      LjMWnUN       NaN
999       NaN                   NaN  Calif#  TdAfQV!!    dgbeFb          0.0

      Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
1      0.00          0.0           NaN         Checque            NaN
3    345.58          NaN     1/28/2021  Credit Payment            NaN
5       NaN          NaN           NaN         Checque            NaN
12   -98.64          NaN     8/25/2017           Debit         65.897
13      NaN          NaN     5/13/2021           Debit            NaN
..      ...          ...           ...             ...            ...
982  956.06        152.0      1/3/2021            Cash            NaN
987  703.42       -100.0      3/3/2023         Checque            NaN
994  790.43        358.0           NaN             NaN            NaN
998  296.36          NaN     3/25/2020         Checque            NaN
999  690.17          NaN     2/17/2012           Debit            NaN

    Discount    Tax   Sales_Rep Order_Status Customer_ID        Country  \
1      25.11    NaN  jkATAyk123     Returned    NotValid  United States
3      18.74    NaN     BprRml@    Cancelled    NotValid  United States
5      28.98   6.32    TBhRXVc#     Returned      123456           U.S.
12     35.67    NaN   eGoyZW123    Completed    NotValid           U.S.
13   Invalid  14.90   TOBqUldx@     Returned    NotValid  United States
..       ...    ...         ...          ...         ...            ...
982  Invalid  16.97    eABmoRE@    Completed      123456            123
987     2.52  -3.24    xKVki123     Returned      123456           U.S.
994      NaN  -5.00     xYDHTt@          NaN      123456            123
998  Invalid  13.80  DbloErg123     Unknown!      123456           U.S.
999    36.99    NaN    TblbUhh#    Cancelled    NotValid            NaN

    Phone_Number            Email  Delivery_Time
1            NaN          noemail             39
3       12345678  eAOenzoZc@yahoo        Missing
5            NaN          noemail  Not available
12           NaN          noemail             73
13    Invalid123              nan             87
..           ...              ...            ...
982     12345678   MKzbZdLp@yahoo        Missing
987     12345678          noemail             71
994          NaN              nan        Missing
998     12345678         eOAItVcH  Not available
999     12345678          noemail  Not available

[519 rows x 20 columns]

In [50]:
# Part 48: Checking for customer names with numbers

customer_names_with_digits = df[df['Customer_Name'].str.contains(r'\d', na=False)]
print(f"Customer names with numbers:\n{customer_names_with_digits}")

Customer names with numbers:
     Order_ID Customer_Name   State      City       Product  Quantity   Price  \
4     -2033.0       123John      jU     mppXi    EYBoNPS123       NaN    0.00
12    24051.0       123John      cO   PSBMxc@     XhvFwNXkz       NaN  -98.64
16    71451.0       123John      NC  HmaAuNW@  AJjQDYYeS123       0.0  112.08
21        NaN       123John      FL     Smvg@   wOLEdQMv         39.0     NaN
25        NaN       123John      qg   fdXGjF@    MPaBBGmLdN       NaN    0.00
..        ...           ...     ...       ...           ...       ...     ...
978       NaN       123John      Os     Nnx!!      pqsIf123      11.0  312.67
984       NaN       123John      dc     oMDzl       JzUvOcz      45.0     NaN
989       NaN       123John  Calif#    mJOzF@     UuYFKF123      28.0  903.61
992    -564.0       123John     NaN   tuJSws@     vdrBUG          NaN     NaN
993       NaN       123John      Cn  XwTSLOpO      KcoDu123      16.0    0.00

     Total_Sales Purchase_Date  Payment_Method  Shipping_Cost Discount    Tax  \
4        -100.00    11/22/2022  Credit Payment            NaN    13.07    NaN
12           NaN     8/25/2017           Debit         65.897    35.67    NaN
16           NaN           NaN            Cash         69.390      NaN  -0.38
21           NaN           NaN             NaN         53.651     6.24  -1.52
25           NaN      7/4/2011             NaN            NaN     -3.7  -5.00
..           ...           ...             ...            ...      ...    ...
978      3439.37     3/24/2022             NaN            NaN  Invalid  -5.00
984          NaN           NaN            Cash          2.742    35.39  -5.00
989      -100.00     3/21/2022  Credit Payment            NaN      NaN  15.99
992          NaN      8/1/2017  Credit Payment            NaN  Invalid  -0.66
993       569.00           NaN  Credit Payment            NaN    16.58  -5.00

       Sales_Rep Order_Status Customer_ID        Country Phone_Number  \
4      YgxXnx123      Pending         Oio            123          NaN
12     eGoyZW123    Completed    NotValid           U.S.          NaN
16       NggNWw@    Cancelled         lBp            123     12345678
21   LuPnEeLl123     Unknown!      123456           U.S.          NaN
25       ghdOEU#     Unknown!    NotValid            USA     12345678
..           ...          ...         ...            ...          ...
978    NwuJZV123      Pending         tKh            123   Invalid123
984  brPLzesK123    Completed      MaoVZz            123          NaN
989      DZJWWP#     Returned         Ggm  United States     12345678
992  GIvTIwcM123    Completed      AdwmCC            NaN     12345678
993      XYVenX@      Pending      ngHDRR  United States          NaN

            Email  Delivery_Time
4         noemail  Not available
12        noemail             73
16            nan             69
21        FCJFlWd             34
25            nan             -9
..            ...            ...
978       noemail  Not available
984  TTjloc@yahoo  Not available
989         dmIdE        Missing
992       noemail             52
993       noemail             66

[180 rows x 20 columns]

In [51]:
# Part 49: Checking for special characters in 'Phone_Number'

phone_numbers_with_special_chars = df[~df['Phone_Number'].str.match(r'^\d{10}$', na=False)]
print(f"Phone numbers with special characters:\n{phone_numbers_with_special_chars}")

Phone numbers with special characters:
     Order_ID         Customer_Name   State       City      Product  Quantity  \
0         NaN                   NaN  Calif#       vlhG  nxJlrLVa123      -9.0
1     55834.0                   NaN     NaN        xIk        iWCYv       NaN
2         NaN                 quckz  Calif#    BqRoG!!    iLqNmM123      -9.0
3         NaN              John#Doe      Zz    JUqSAP@  oLUIHFfA         38.0
4     -2033.0               123John      jU      mppXi   EYBoNPS123       NaN
..        ...                   ...     ...        ...          ...       ...
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@  RvhhGDuZ123       NaN
996       NaN            XihedmGYce  Calif#    FLwgP!!  JRlSMuTy123       0.0
997       NaN                   NaN     NaN  USLnPoyD@   FPjbBxZFRI      50.0
998   -3723.0              John#Doe     NaN    kKVbQk@      LjMWnUN       NaN
999       NaN                   NaN  Calif#   TdAfQV!!    dgbeFb          0.0

      Price  Total_Sales Purchase_Date  Payment_Method  Shipping_Cost  \
0      0.00          0.0     9/17/2021             NaN           5.14
1      0.00          0.0           NaN         Checque            NaN
2    350.20          NaN     6/23/2023            Cash            NaN
3    345.58          NaN     1/28/2021  Credit Payment            NaN
4      0.00       -100.0    11/22/2022  Credit Payment            NaN
..      ...          ...           ...             ...            ...
994  790.43        358.0           NaN             NaN            NaN
996    0.00          NaN     9/12/2021           Debit            NaN
997    0.00          0.0     7/22/2010            Cash            NaN
998  296.36          NaN     3/25/2020         Checque            NaN
999  690.17          NaN     2/17/2012           Debit            NaN

    Discount    Tax   Sales_Rep Order_Status Customer_ID        Country  \
0    Invalid  -5.00    QlCNs123     Unknown!      XvqFZW           U.S.
1      25.11    NaN  jkATAyk123     Returned    NotValid  United States
2        NaN  -5.00   aGhtJWWn#     Unknown!      KVVDsM           U.S.
3      18.74    NaN     BprRml@    Cancelled    NotValid  United States
4      13.07    NaN   YgxXnx123      Pending         Oio            123
..       ...    ...         ...          ...         ...            ...
994      NaN  -5.00     xYDHTt@          NaN      123456            123
996  Invalid  12.84     QQiKoP#     Returned      FAdpMz           U.S.
997    -7.74    NaN      okkRH#      Pending      XBsfGP  United States
998  Invalid  13.80  DbloErg123     Unknown!      123456           U.S.
999    36.99    NaN    TblbUhh#    Cancelled    NotValid            NaN

    Phone_Number            Email  Delivery_Time
0            NaN              nan  Not available
1            NaN          noemail             39
2            NaN              nan  Not available
3       12345678  eAOenzoZc@yahoo        Missing
4            NaN          noemail  Not available
..           ...              ...            ...
994          NaN              nan        Missing
996   Invalid123          noemail             67
997   Invalid123        czFWSGlaC             41
998     12345678         eOAItVcH  Not available
999     12345678          noemail  Not available

[784 rows x 20 columns]

In [52]:
# Part 50: Checking for incorrect 'Purchase_Date' (dates outside the 2020-2024 range)

incorrect_purchase_dates = df[~df['Purchase_Date'].str.contains(r'202[0-4]', na=False)]
print(f"Incorrect Purchase Dates (outside 2020-2024 range):\n{incorrect_purchase_dates}")

Incorrect Purchase Dates (outside 2020-2024 range):
     Order_ID         Customer_Name   State       City        Product  \
1     55834.0                   NaN     NaN        xIk          iWCYv
5         NaN              John#Doe  Calif#     vuiCr@      TaixLE
7     14840.0               peYofjf     NaN    hLsTB!!       YVpzv123
10    81519.0             xMwbJYKQB     NaN        pIl  VgmchppGTF
12    24051.0               123John      cO    PSBMxc@      XhvFwNXkz
..        ...                   ...     ...        ...            ...
993       NaN               123John      Cn   XwTSLOpO       KcoDu123
994       NaN  infjvFHeooDgZewlUxMV     NaN      pmJf@    RvhhGDuZ123
995    -761.0                   NaN      IL   WDrnCbXJ       pOBUv123
997       NaN                   NaN     NaN  USLnPoyD@     FPjbBxZFRI
999       NaN                   NaN  Calif#   TdAfQV!!      dgbeFb

     Quantity   Price  Total_Sales Purchase_Date  Payment_Method  \
1         NaN    0.00          0.0           NaN         Checque
5         0.0     NaN          NaN           NaN         Checque
7         0.0    0.00          0.0      5/1/2015            Cash
10       12.0    0.00          0.0     7/18/2017         Checque
12        NaN  -98.64          NaN     8/25/2017           Debit
..        ...     ...          ...           ...             ...
993      16.0    0.00        569.0           NaN  Credit Payment
994       NaN  790.43        358.0           NaN             NaN
995       0.0     NaN        475.0     9/10/2017           Debit
997      50.0    0.00          0.0     7/22/2010            Cash
999       0.0  690.17          NaN     2/17/2012           Debit

     Shipping_Cost Discount   Tax   Sales_Rep Order_Status Customer_ID  \
1              NaN    25.11   NaN  jkATAyk123     Returned    NotValid
5              NaN    28.98  6.32    TBhRXVc#     Returned      123456
7              NaN      NaN -5.00      ZsUms#     Unknown!      nbrzRe
10           7.858     4.62 -5.00   jWTuyV123    Completed      ybFLZZ
12          65.897    35.67   NaN   eGoyZW123    Completed    NotValid
..             ...      ...   ...         ...          ...         ...
993            NaN    16.58 -5.00     XYVenX@      Pending      ngHDRR
994            NaN      NaN -5.00     xYDHTt@          NaN      123456
995            NaN    -2.73   NaN  PQmSgCA123      Pending      GEvdQk
997            NaN    -7.74   NaN      okkRH#      Pending      XBsfGP
999            NaN    36.99   NaN    TblbUhh#    Cancelled    NotValid

           Country Phone_Number              Email  Delivery_Time
1    United States          NaN            noemail             39
5             U.S.          NaN            noemail  Not available
7              123   Invalid123                nan  Not available
10   United States   Invalid123  ghpVpRv@gmail.com             67
12            U.S.          NaN            noemail             73
..             ...          ...                ...            ...
993  United States          NaN            noemail             66
994            123          NaN                nan        Missing
995            123   8988717670            noemail             77
997  United States   Invalid123          czFWSGlaC             41
999            NaN     12345678            noemail  Not available

[563 rows x 20 columns]

In [53]:
# Save the cleaned dataset to a CSV file
cleaned_file_path = r'C:\Users\thapa\OneDrive\Desktop\Kaggle Data\Datasets for projects\DataWrangling\Cleaned Data and Codes\Retail_Sales_Dataset-Cleaned.csv'
df.to_csv(cleaned_file_path, index=False)

print(f"Cleaned dataset saved as {cleaned_file_path}")

Cleaned dataset saved as C:\Users\thapa\OneDrive\Desktop\Kaggle Data\Datasets for projects\DataWrangling\Cleaned Data and Codes\Retail_Sales_Dataset-Cleaned.csv